{% extends 'carwash/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/password-change-done.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block content %}
    <div class="space_background">
        <div class="messages-container">                
            <div class="messages-container__text">Пароль успешно изменён!</div>
            <div class="messages-container__a"><a href="{% url 'users:profile' %}">вернуться в профиль</a></div>
        </div>
    </div>
{% endblock %}