{% extends 'carwash/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/user-password-reset.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block content %}
    <div class="space_background">
        <div class="password-change-request">
            <div class="password-change-request__header">
                <h4>Восстановление пароля</h4>
            </div>
            <div class="password-change-request__body">
                <form method="post">
                    {% csrf_token %}
                    <div class="password-change-request__email">
                        {{ form.email }}
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Восстановить пароль</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}