{% extends 'carwash/base.html' %}

{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'carwash/css/registration-done.css' %}">
{% endblock %}


{% block content %}
    <div class="main-section">
        <div class="main-section__container">
            <div class="main-section__message">
                <p class="main-section__title">Спасибо за обращение</p>
                <br>
                <p class="main-section__date">Вы записаны на {{ normal_format_selected_date }}
                    <br>на время {{ choice_time }}</p>
                <br>
                <p class="main-section__services">Выбранные работы:</p>
                {% for service in choice_services %}
                <span>- {{ service.name }}<br></span>
                {% endfor %}                
                <br>
                <hr>
                <p>Общее время: {{ total_time }}</p>
                <p>Общая стоимость: {{ total_cost }}</p>
            </div>
        </div>
    </div>
{% endblock %}