{% extends 'carwash/base.html' %}

{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'carwash/css/staff.css' %}">
    <script src="{% static 'carwash/js/script.js' %}"></script>
{% endblock %}

{% block content %}
    <main>
        <div class="space_background">
            <div class="workday-page">
                <div class="workday-page__button">
                    <a href="{% url 'carwash:staff' days_delta=0 %}">
                        <button id="page1" type="submit" style="cursor:default" {% if days_delta == 0 %} disabled {% endif %}>
                            Сегодня<br>{{button_date.today|date:"d. m. Y"}}
                        </button>
                    </a>
                </div>
                <div class="workday-page__button">
                    <a href="{% url 'carwash:staff' days_delta=1 %}">
                        <button id="page2" type="submit" style="cursor:default" {% if days_delta == 1 %} disabled {% endif %}>
                            Завтра<br>{{button_date.tomorrow|date:"d. m. Y"}}
                        </button>
                    </a>
                </div>
                <div class="workday-page__button">
                    <a href="{% url 'carwash:staff' days_delta=2 %}">
                        <button id="page3" type="submit" style="cursor:default" {% if days_delta == 2 %} disabled {% endif %}>
                            Послезавтра<br>{{button_date.after_tomorrow|date:"d. m. Y"}}
                        </button>
                    </a>
                </div>
            </div>
            <div class="data-box">
                <div class="dropdown-center request-call-box">
                    <button class="request-call-box__button" {% if attention %} style="animation:myfirst 1s infinite;" {% endif %} role="button" id="dropdownMenuLink" {% if request_calls %} data-bs-toggle="dropdown" {% endif %}>
                        запросы звонка
                    </button>
                    <ul class="dropdown-menu">
                        {% for call in request_calls %}
                            <li class="dropdown-item telephone"><span>{{call}}</span>

                                {% if not call.processed %}
                                <a type="button" class="time-workday__cancel-button" href="{% url 'carwash:request_call_processing' days_delta call.id %}">
                                    обработать</a>
                                {% endif %}
                            </li>
                            {% if not forloop.last %}
                                <li><hr class="dropdown-divider"></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% for time_workday in full_list_registrations_workday %}
                <div class="time-workday">
                    <div class="data-box__item time-workday__time {% if time_workday.free %} free time-workday__time-free {% else %} busy time-workday__time-busy {% endif %}">{{time_workday.time}}</div>
                    {% if time_workday.id %}
                    <div class="data-box__item busy client-busy">
                        {{time_workday.client}}<br>
                        {% if not staff %}
                            {{time_workday.fio}}<br>
                        {% endif %}
                        {{time_workday.phone_number}}<br>
                        {{time_workday.car_model}}
                    </div>
                    <div class="data-box__item busy time-workday__services">{{time_workday.services}}</div>
                    <div class="time-workday__button">

                    <!-- Кнопка-триггер модального окна -->
                    <button type="button" class="time-workday__cancel-button" data-bs-toggle="modal" data-bs-target="#{{time_workday.pk}}{{time_workday.time}}">
                        Отменить</button>

                        <!-- Модальное окно -->
                    <div class="modal fade" id="{{time_workday.pk}}{{time_workday.time}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                            </div>
                            <div class="modal-body">
                            <p class="modal-content__body-text" id="exampleModalLabel">Подтвердите удаление записи</p>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <a href="{% url 'carwash:cancel' days_delta time_workday.id %}"><button type="button" class="btn btn-primary">Подтвердить</button></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    {% else %}
                    <div class="data-box__item {% if time_workday.free %} free client-free {% else %} busy client-busy {% endif %}">{{time_workday.field}}</div>
                    <div class="data-box__item time-workday__services {% if time_workday.free %} free {% else %} busy {% endif %}"></div>
                    <div class="time-workday__fake_button"></div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

{% block script %}
    <script>
        base_url = `${window.location.host}${window.location.pathname}`
        const chatSocket = new WebSocket(`ws://${base_url}`);

        chatSocket.onopen = function(e) {
            console.log("connected")
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        chatSocket.onmessage = function (e) {
            location.reload();
        };

    </script>
{% endblock script %}