@charset "UTF-8";
/* line 3, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/request-call-done.sass */
body {
  background: black;
}

/* line 5, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/request-call-done.sass */
.space_background {
  height: calc(85vh - 80px);
  min-height: 250px;
  background: url("../images/193.png"), #0056A9 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  display: flex;
}

/* line 13, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/request-call-done.sass */
.messages-container {
  height: 140px;
  width: 32vw;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 15vh;
  padding: 15px;
  background-color: #d1e7dd;
  border-radius: 6px;
  box-shadow: 8px 5px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* line 26, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/request-call-done.sass */
.messages-container__text {
  font-size: 24px;
}

/* line 28, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/request-call-done.sass */
.messages-container__a {
  font-size: 16px;
}

@media (max-width: 1199px) {
  /* line 33, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/request-call-done.sass */
  .messages-container__text {
    font-size: 20px;
  }
  /* line 35, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/request-call-done.sass */
  .messages-container__a {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  /* line 39, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/request-call-done.sass */
  .messages-container {
    height: 100px;
    width: 35vw;
    padding: 10px;
  }
  /* line 43, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/request-call-done.sass */
  .messages-container__text {
    font-size: 18px;
  }
  /* line 45, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/request-call-done.sass */
  .messages-container__a {
    font-size: 14px;
  }
}

@media (max-width: 777px) {
  /* line 50, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/request-call-done.sass */
  .messages-container__text {
    font-size: 14px;
  }
  /* line 52, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/request-call-done.sass */
  .messages-container__a {
    font-size: 10px;
  }
}

@media (max-width: 575px) {
  /* line 56, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/request-call-done.sass */
  .messages-container {
    height: 90px;
  }
  /* line 58, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/request-call-done.sass */
  .messages-container__text {
    font-size: 12px;
  }
  /* line 60, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/request-call-done.sass */
  .messages-container__a {
    font-size: 8px;
  }
}

@media (max-width: 460px) {
  /* line 64, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/request-call-done.sass */
  .messages-container {
    height: 80px;
  }
  /* line 66, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/request-call-done.sass */
  .messages-container__text {
    font-size: 10px;
  }
}

@media (max-width: 378px) {
  /* line 70, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/request-call-done.sass */
  .messages-container {
    height: 90px;
  }
}

/*# sourceMappingURL=request-call-done.css.map */