@charset "UTF-8";
/* line 5, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
body {
  background: black;
}

/* line 8, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.space_background {
  min-height: 750px;
  background: url("../images/193.png"), #0056A9 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  display: flex;
  flex-direction: column;
}

/* line 17, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.user-registrations-box {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 25px;
  min-height: 50px;
  padding: 15px;
  width: 75vw;
  background-color: #f6f6f6;
  border-radius: 6px;
  box-shadow: 8px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

/* line 28, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration {
  margin-bottom: 10px;
  border-radius: 5px 5px 5px 5px;
  user-select: none;
  color: #000000;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}

/* line 35, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__title {
  width: 100%;
  display: flex;
  padding: 10px 25px 10px 25px;
  justify-content: space-between;
  background-color: #e2e2e2;
  border-radius: 5px 5px 0px 0px;
}

/* line 42, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__combo {
  display: flex;
  flex-direction: row;
}

/* line 45, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__date {
  width: 100px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

/* line 52, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__total-time {
  width: 250px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

/* line 57, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__reg {
  width: 100%;
  padding: 10px 25px 10px 25px;
  border-radius: 0px 0px 13px 13px;
}

/* line 61, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__empty {
  width: 100%;
  text-align: center;
}

/* line 64, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__cancel-button {
  line-height: 30px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: #d30000;
}

/* line 70, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__cancel-button:hover {
  color: #9f0000;
}

/* line 72, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__cancel-button:active {
  color: #870202;
}

/* line 75, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.modal {
  --bs-modal-width: 350px;
}

/* line 78, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.modal-content {
  background-color: #4a4a4a;
}

/* line 80, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.modal-content__body-text {
  color: #ececec;
  font-size: 22px;
  text-align: center;
}

@media (max-width: 767px) {
  /* line 87, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
  .registration__combo {
    flex-direction: column;
  }
  /* line 89, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
  .registration__item {
    font-size: 14px;
  }
  /* line 91, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
  .registration__reg {
    font-size: 14px;
  }
  /* line 93, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
  .registration__date {
    margin-right: 0px;
    margin-bottom: 5px;
  }
}

@media (max-width: 587px) {
  /* line 101, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
  .registration__item {
    font-size: 12px;
  }
  /* line 103, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
  .registration__title {
    padding: 5px 10px 5px 10px;
  }
  /* line 105, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
  .registration__reg {
    padding: 5px 10px 5px 10px;
    font-size: 12px;
  }
  /* line 108, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
  .registration__date {
    width: 60px;
    margin-right: 5px;
  }
  /* line 111, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
  .registration__total-time {
    font-size: 10px;
    width: 120px;
  }
}

/*# sourceMappingURL=user_registrations.css.map */