@charset "UTF-8";
/* line 10, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
body {
  background: black;
}

/* line 14, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.registration {
  min-height: 750px;
  background: url("../images/192.png"), #0056A9 50%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
}

/* line 19, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.registration__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 23, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.registration__without-button {
  height: 612px;
  width: 1420px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ececec;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* line 34, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.registration__box-services {
  height: 612px;
  width: 640px;
  background-color: #525252;
  border-style: solid;
  border-width: 2px;
  border-color: #a2a2a2 #262626 #262626 #a2a2a2;
  border-radius: 6px;
}

/* line 42, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.registration button {
  padding: 10px 32px;
  color: #ececec;
  background: #0129df;
  border-style: solid;
  border-width: 2px;
  border-color: #a2a2a2 #262626 #262626 #a2a2a2;
  border-radius: 5px;
  cursor: pointer;
}

/* line 51, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.registration button:disabled {
  background: #6a7ed4;
}

/* line 59, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.services__title {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 25px;
  height: 35px;
}

/* line 65, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.services__border {
  margin: 0 auto;
  margin-top: 7px;
  height: 593px;
  width: 620px;
  border: 2px solid #a2a2a2;
  border-radius: 6px;
}

/* line 75, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.services__p {
  padding: 5px;
  line-height: 15px;
  text-indent: 13px;
}

/* line 80, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
table {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: left;
}

/* line 85, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
td {
  padding: 3px;
  font-size: 16px;
}

/* line 89, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
tr:hover {
  background-color: #494949;
}

/* line 92, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.day {
  display: inline-flex;
  height: 612px;
  width: 100px;
  background-color: #525252;
  margin-right: 3px;
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: #a2a2a2 #262626 #262626 #a2a2a2;
}

/* line 102, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.day__date {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  width: 70px;
}

/* line 108, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.day__border {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5px;
  height: 570px;
  width: 80px;
}

/* line 115, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.day__border input {
  type: radio;
  display: none;
}

/* line 118, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.day__border input:checked + label {
  background: #ffb11f;
  color: #09172b;
  box-shadow: 1px 1px 3px #000000 inset;
}

/* line 122, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.day__border input:disabled + label {
  background: #434343;
  color: #7b7b7b;
  box-shadow: 2px 2px 4px #000000 inset;
}

/* line 126, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.day__border label {
  text-align: center;
  height: 22px;
  background: #c5c5c5;
  color: #000000;
  line-height: 22px;
  border: 1px solid #8a8a8a;
  border-radius: 5px;
  user-select: none;
  margin-bottom: 2px;
}

/* line 136, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.day__border label:hover {
  color: #ff1616;
}

/*# sourceMappingURL=registration.css.map */