@charset "UTF-8";
/* line 4, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
body {
  background: black;
}

/* line 7, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
.main-section {
  height: calc(85vh - 80px);
  min-height: 500px;
  background: url("../images/193.png"), #0056A9 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  display: flex;
  align-items: start;
}

/* line 16, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
.main-section__container {
  width: 500px;
  margin: 0 auto;
  margin-top: 15vh;
  background-color: #043b6f;
  border-radius: 6px;
  box-shadow: 8px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

/* line 23, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
.main-section__message {
  padding: 30px;
  color: #ffffff;
  font-size: 20px;
}

/* line 27, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
.main-section__message span {
  margin-left: 20px;
}

/* line 29, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
.main-section__title {
  font-size: 26px;
  text-align: center;
}

/* line 32, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
.main-section__date {
  text-align: center;
}

/* line 34, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
.main-section__services {
  font-size: 22px;
}

@media (max-width: 1199px) {
  /* line 39, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__container {
    width: 400px;
  }
  /* line 42, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__message span {
    font-size: 18px;
  }
  /* line 44, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__title {
    font-size: 22px;
  }
  /* line 46, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__date {
    font-size: 20px;
  }
  /* line 48, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__services {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  /* line 53, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__container {
    width: 300px;
  }
  /* line 55, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__message {
    font-size: 18px;
    padding: 15px;
  }
  /* line 58, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__message span {
    font-size: 16px;
  }
  /* line 60, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__title {
    font-size: 20px;
  }
  /* line 62, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__date {
    font-size: 18px;
  }
  /* line 64, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__services {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  /* line 69, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__container {
    width: 250px;
  }
  /* line 71, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__message {
    font-size: 16px;
  }
  /* line 73, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__message span {
    font-size: 16px;
  }
  /* line 75, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__title {
    font-size: 20px;
  }
  /* line 77, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__date {
    font-size: 18px;
  }
  /* line 79, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__services {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  /* line 84, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__container {
    width: 220px;
  }
  /* line 86, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__message {
    font-size: 14px;
  }
  /* line 88, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__message span {
    font-size: 14px;
  }
  /* line 90, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__title {
    font-size: 18px;
  }
  /* line 92, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__date {
    font-size: 16px;
  }
  /* line 94, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration-done.sass */
  .main-section__services {
    font-size: 14px;
  }
}

/*# sourceMappingURL=registration-done.css.map */