@charset "UTF-8";
/* line 10, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
body {
  background: black;
}

/* line 14, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.registration {
  min-height: 710px;
  margin: 0 auto;
  background: url("../images/car-service2.png"), #0056A9 50%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
}

/* line 20, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.registration__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 25, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.registration__without-button {
  height: 670px;
  width: 1420px;
  margin: 0 auto;
  color: #ececec;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* line 34, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.registration__box-services {
  height: 605px;
  width: 640px;
  background-color: #525252;
  border-radius: 6px;
}

/* line 45, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.services__title {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 25px;
  height: 35px;
}

/* line 51, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.services__border {
  margin: 0 auto;
  margin-top: 5px;
  height: 595px;
  width: 630px;
  border: 1px solid #ececec;
  border-radius: 6px;
}

/* line 58, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.services__p {
  text-indent: 20px;
}

/* line 61, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
table {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: left;
}

/* line 66, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
td {
  padding: 3px;
  font-size: 16px;
}

/* line 70, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
tr:hover {
  background-color: #494949;
}

/* line 73, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.day {
  display: inline-flex;
  height: 605px;
  width: 100px;
  background-color: #525252;
  margin-right: 3px;
  border-radius: 6px;
}

/* line 80, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.day__date {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  width: 70px;
}

/* line 86, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.day__border {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5px;
  height: 570px;
  width: 90px;
}

/* line 94, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.day__border input {
  type: radio;
  display: none;
}

/* line 97, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.day__border input:checked + label {
  background: #ffe0a6;
  color: #2058ad;
}

/* line 100, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.day__border input:disabled + label {
  background: #c5c5c5;
  color: #666;
}

/* line 103, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.day__border label {
  text-align: center;
  height: 22px;
  line-height: 22px;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  user-select: none;
  margin-bottom: 2px;
}

/* line 113, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/registration.sass */
.day__border label:hover {
  color: #a20d0d;
}

/*# sourceMappingURL=registration.css.map */