@charset "UTF-8";
/* line 10, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
body {
  background: black;
}

/* line 14, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.section-staff {
  min-height: 750px;
  background: url("../images/193.png"), #0056A9 50%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  display: flex;
  flex-direction: column;
}

/* line 22, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.workday-page {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

/* line 28, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.workday-page__button {
  margin-right: 130px;
}

/* line 30, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.workday-page__button:last-child {
  margin-right: 0;
}

/* line 33, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.workday-page button {
  width: 200px;
  padding: 5px 5px;
  color: #ececec;
  background: #002cf2;
  border-style: solid;
  border-width: 2px;
  border-color: #536cd8 #262626 #262626 #536cd8;
  border-radius: 5px;
}

/* line 42, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.workday-page button:hover {
  background: #0028db;
}

/* line 44, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.workday-page button:active {
  background: #0025c8;
}

/* line 46, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.workday-page button:disabled {
  color: #000;
  background: #21b9ff;
}

/* line 50, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.data-box {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 15px;
  min-height: 50px;
  width: 1460px;
  background-color: #757575;
  border-style: solid;
  border-width: 2px;
  border-color: #a2a2a2 #262626 #262626 #a2a2a2;
  border-radius: 6px;
}

/* line 61, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.data-box__item {
  margin-right: 10px;
  height: 24px;
  margin-bottom: 3px;
  border: 1px solid #8a8a8a;
  border-radius: 3px;
  user-select: none;
}

/* line 69, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.free {
  background: #c5c5c5;
  color: #000000;
  padding: 0 auto;
  line-height: 25px;
  box-shadow: 1px 1px 2px #000000 inset;
}

/* line 75, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.busy {
  background: #434343;
  color: #c0c0c0;
  box-shadow: 1px 1px 2px #000000 inset;
  line-height: 22px;
}

/* line 81, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.time-workday {
  display: flex;
  flex-direction: row;
}

/* line 84, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.time-workday__time {
  width: 55px;
  text-align: center;
}

/* line 88, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.time-workday__time-busy {
  line-height: 24px;
}

/* line 90, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.time-workday__client-busy {
  width: 150px;
  text-indent: 7px;
}

/* line 93, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.time-workday__client-free {
  width: 150px;
  text-align: center;
}

/* line 96, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.time-workday__services {
  width: 1100px;
  padding-left: 7px;
}

/* line 99, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.time-workday__services_big {
  width: 1100px;
  padding-left: 7px;
  height: 45px;
}

/* line 103, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.time-workday__cancel-button {
  width: 90px;
  height: 24px;
  padding: 2px 2px;
  color: #ececec;
  background: #9b2900;
  border-style: solid;
  border-width: 2px;
  border-color: #956757 #262626 #262626 #956757;
  border-radius: 5px;
}

/* line 113, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.time-workday__cancel-button:hover {
  background: #7c2201;
}

/* line 115, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.time-workday__cancel-button:active {
  background: #6a1c00;
}

/* line 118, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.modal-content {
  background-color: #4a4a4a;
}

/*# sourceMappingURL=staff.css.map */