@charset "UTF-8";
/* line 8, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
body {
  background: black;
}

/* line 11, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.space_background {
  height: 145vh;
  min-height: 1000px;
  background: url("../images/193.png"), #0056A9 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  display: flex;
  flex-direction: column;
}

/* line 21, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.workday-page {
  margin: 0 auto;
  margin-top: 20px;
  width: 79vw;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

/* line 28, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.workday-page button {
  width: 18vw;
  padding: 5px 5px;
  color: #ececec;
  background-color: #00167981;
  border-style: solid;
  border-width: 2px;
  border-color: #4b6af5 #545454 #545454 #4b6af5;
  border-radius: 5px;
}

/* line 37, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.workday-page button:hover {
  background-color: #002cf2;
}

/* line 39, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.workday-page button:active {
  background-color: #0028db;
}

/* line 41, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.workday-page button:disabled {
  color: #ececec;
  background-color: #022eee;
  border-color: #4b6af5 #545454 #545454 #4b6af5;
}

/* line 46, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.data-box {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 15px;
  min-height: 50px;
  width: 77vw;
  background-color: #8e8e8e;
  border-style: solid;
  border-width: 2px;
  border-color: #a2a2a2 #262626 #262626 #a2a2a2;
  border-radius: 6px;
}

/* line 57, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.data-box__item {
  margin-right: 10px;
  padding: 3px;
  line-height: 20px;
  margin-bottom: 3px;
  border: 1px solid #8a8a8a;
  border-radius: 3px;
  user-select: none;
}

/* line 66, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.request-call-box {
  width: 40vw;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 15px;
}

/* line 71, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.request-call-box button {
  width: 100%;
  height: 30px;
  color: #ececec;
  background: #7c2201;
  border-style: solid;
  border-width: 2px;
  border-color: #b66c51 #505050 #505050 #b66c51;
  border-radius: 5px;
}

/* line 80, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.request-call-box button:hover {
  color: #ececec;
  background: #9c2a00;
  border-color: #b66c51 #505050 #505050 #b66c51;
}

/* line 84, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.request-call-box button:active {
  background-color: #7c2201;
}

@keyframes myfirst {
  50% {
    background: red;
  }
}

/* line 91, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.dropdown-menu {
  --bs-dropdown-link-active-color: black;
  --bs-dropdown-link-active-bg: $color-white;
}

/* line 94, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.dropdown-menu a {
  text-decoration: none;
}

/* line 96, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.telephone {
  padding: 4px 12px 4px 12px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 105, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.free {
  height: 26px;
  background: #e1e1e1;
  color: #000000;
  line-height: 16px;
  box-shadow: 1px 1px 2px #272727 inset;
}

/* line 111, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.busy {
  height: auto;
  background: #646464;
  color: #d8d8d8;
  box-shadow: 1px 1px 2px #272727 inset;
}

/* line 118, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.client-free {
  width: 250px;
  min-width: 155px;
  text-align: center;
}

/* line 122, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.client-busy {
  width: 250px;
  min-width: 155px;
}

/* line 126, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.time-workday {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 130, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.time-workday__time {
  width: 65px;
  min-width: 50px;
  text-align: center;
}

/* line 136, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.time-workday__services {
  width: 1000px;
  padding-left: 5px;
  padding-right: 5px;
  height: auto;
}

/* line 141, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.time-workday__cancel-button {
  width: 100px;
  height: 24px;
  padding: 1px;
  text-align: center;
  color: #ececec;
  background-color: #a32b00;
  border-style: solid;
  border-width: 2px;
  border-color: #b66c51 #505050 #505050 #b66c51;
  border-radius: 5px;
}

/* line 152, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.time-workday__cancel-button:hover {
  background-color: #bd3402;
}

/* line 154, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.time-workday__cancel-button:active {
  background-color: #a32b00;
}

/* line 156, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.time-workday__fake_button {
  width: 100px;
  min-width: 100px;
  height: 24px;
}

/* line 161, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.modal {
  --bs-modal-width: 350px;
}

/* line 164, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.modal-content {
  background-color: #4a4a4a;
}

/* line 166, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
.modal-content__body-text {
  color: #ececec;
  font-size: 22px;
  text-align: center;
}

@media (max-width: 1199px) {
  /* line 173, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .workday-page button {
    font-size: 14px;
  }
  /* line 175, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .data-box {
    padding: 10px;
  }
  /* line 177, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .data-box__item {
    font-size: 14px;
    line-height: 16px;
    padding: 3px;
    margin-right: 5px;
  }
  /* line 182, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .data-box button {
    font-size: 14px;
  }
  /* line 184, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .telephone {
    width: 270px;
  }
  /* line 187, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .time-workday__cancel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
  }
  /* line 192, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .time-workday__fake_button {
    width: 90px;
    min-width: 90px;
  }
  /* line 195, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .free {
    height: auto;
  }
}

@media (max-width: 767px) {
  /* line 199, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .space_background {
    height: 125vh;
  }
  /* line 202, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .workday-page button {
    font-size: 12px;
  }
  /* line 204, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .telephone {
    width: 240px;
  }
  /* line 206, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .data-box {
    padding: 7px;
  }
  /* line 208, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .data-box__item {
    font-size: 12px;
    line-height: 14px;
    padding: 2px;
    margin-right: 3px;
  }
  /* line 213, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .data-box button {
    font-size: 12px;
  }
  /* line 215, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .client-free {
    min-width: 125px;
  }
  /* line 217, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .client-busy {
    min-width: 125px;
  }
  /* line 220, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .time-workday__handling-button {
    width: 80px;
  }
  /* line 222, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .time-workday__cancel-button {
    padding: 0;
    width: 80px;
  }
  /* line 225, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .time-workday__fake_button {
    min-width: 80px;
  }
  /* line 227, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .time-workday__time {
    min-width: 40px;
  }
}

@media (max-width: 575px) {
  /* line 232, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .workday-page button {
    font-size: 10px;
  }
  /* line 235, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .data-box__item {
    font-size: 10px;
    line-height: 12px;
    padding: 2px;
    margin-right: 3px;
  }
  /* line 240, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .data-box button {
    font-size: 10px;
  }
  /* line 242, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .client-free {
    min-width: 110px;
  }
  /* line 244, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .client-busy {
    min-width: 110px;
  }
  /* line 247, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .time-workday__cancel-button {
    height: 20px;
    width: 60px;
  }
  /* line 250, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .time-workday__fake_button {
    min-width: 60px;
  }
  /* line 252, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .time-workday__time {
    min-width: 35px;
  }
}

@media (max-width: 460px) {
  /* line 257, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .workday-page button {
    font-size: 8px;
  }
  /* line 261, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .time-workday__button button {
    font-size: 0px;
  }
  /* line 263, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .time-workday__cancel-button {
    height: 20px;
    width: 35px;
  }
  /* line 266, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .time-workday__fake_button {
    min-width: 35px;
  }
  /* line 268, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .time-workday__time {
    min-width: 35px;
  }
}

@media (max-width: 391px) {
  /* line 272, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .space_background {
    height: 135vh;
  }
  /* line 275, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .data-box__item {
    font-size: 8px;
    line-height: 10px;
    padding: 2px;
    margin-right: 3px;
  }
  /* line 282, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .time-workday__button button {
    font-size: 0px;
  }
}

@media (max-width: 344px) {
  /* line 286, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .space_background {
    height: 135vh;
  }
  /* line 289, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .data-box__item {
    font-size: 7px;
    line-height: 8px;
    padding: 2px;
    margin-right: 3px;
  }
  /* line 296, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .time-workday__button button {
    font-size: 0px;
  }
  /* line 298, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .time-workday__cancel-button {
    height: 20px;
    width: 30px;
  }
  /* line 301, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .time-workday__fake_button {
    min-width: 30px;
  }
  /* line 303, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/staff.sass */
  .time-workday__time {
    min-width: 30px;
  }
}

/*# sourceMappingURL=staff.css.map */