@charset "UTF-8";
/* line 9, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
body {
  background: black;
}

/* line 12, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.user_registrations {
  min-height: 750px;
  background: url("../images/193.png"), #0056A9 50%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  display: flex;
  flex-direction: column;
}

/* line 20, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.data-box {
  margin: 0 auto;
  margin-top: 50px;
  min-height: 50px;
  padding: 15px;
  width: auto;
  background-color: #f6f6f6;
  border-radius: 6px;
  box-shadow: 8px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

/* line 32, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration {
  margin-bottom: 10px;
  border-radius: 5px 5px 5px 5px;
  user-select: none;
  color: #000000;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}

/* line 40, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__title {
  display: flex;
  flex-direction: row;
  padding: 0px 15px 0px 15px;
  justify-content: space-between;
  background: #e2e2e2;
  border-radius: 5px 5px 0px 0px;
}

/* line 47, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__item {
  font-family: "PTsans";
  height: auto;
  width: auto;
  padding: 10px;
}

/* line 52, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__date {
  width: 100px;
  font-weight: bold;
  text-align: center;
}

/* line 56, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__reg {
  width: 1100px;
  padding: 10px 25px 10px 25px;
  border-radius: 0px 0px 13px 13px;
  height: auto;
  font-weight: regular;
}

/* line 62, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__empty {
  width: 1100px;
  text-align: center;
}

/* line 67, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.user_registration__cancel-button {
  line-height: 30px;
  text-decoration: none;
  cursor: pointer;
  color: #d30000;
}

/* line 72, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.user_registration__cancel-button:hover {
  color: #9f0000;
}

/* line 74, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.user_registration__cancel-button:active {
  color: #870202;
}

/* line 77, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.modal {
  --bs-modal-width: 350px;
}

/* line 80, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.modal-content {
  background-color: #4a4a4a;
}

/* line 82, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.modal-content__body-text {
  color: #ececec;
  font-size: 22px;
  text-align: center;
}

/*# sourceMappingURL=user_registrations.css.map */