@charset "UTF-8";
/* line 14, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
body {
  background: black;
}

/* line 19, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.user_registrations {
  min-height: 750px;
  background: url("../images/193.png"), #0056A9 50%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  display: flex;
  flex-direction: column;
}

/* line 55, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.data-box {
  margin: 0 auto;
  margin-top: 50px;
  min-height: 50px;
  padding: 15px;
  width: 1140px;
  background-color: #f6f6f6;
  border-radius: 6px;
}

/* line 68, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__wrapper {
  display: flex;
  flex-direction: row;
}

/* line 71, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__item {
  margin-right: 10px;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  user-select: none;
  background: white;
  color: #000000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}

/* line 82, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__date {
  width: 100px;
  font-family: "PTsans";
  font-weight: bold;
  text-align: center;
}

/* line 87, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__reg {
  width: 1100px;
  padding-left: 7px;
  height: auto;
  font-family: "PTsans";
  font-weight: regular;
}

/* line 93, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__cancel-button {
  width: 100px;
  height: 24px;
  padding: 2px 2px;
  color: #ececec;
  background: #9b2900;
  border-style: solid;
  border-width: 2px;
  border-color: #956757 #262626 #262626 #956757;
  border-radius: 5px;
}

/* line 103, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__cancel-button:hover {
  background: #7c2201;
}

/* line 105, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__cancel-button:active {
  background: #6a1c00;
}

/* line 108, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.modal {
  --bs-modal-width: 350px;
}

/* line 111, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.modal-content {
  background-color: #4a4a4a;
}

/* line 113, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.modal-content__body-text {
  color: #ececec;
  font-size: 22px;
  text-align: center;
}

/*# sourceMappingURL=user_registrations.css.map */