@charset "UTF-8";
/* line 10, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
body {
  background: black;
}

/* line 14, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.user_registrations {
  min-height: 750px;
  background: url("../images/193.png"), #0056A9 50%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  display: flex;
  flex-direction: column;
}

/* line 22, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.workday-page {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

/* line 28, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.workday-page__button {
  margin-right: 130px;
}

/* line 30, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.workday-page__button:last-child {
  margin-right: 0;
}

/* line 33, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.workday-page button {
  width: 200px;
  padding: 5px 5px;
  color: #ececec;
  background: #002cf2;
  border-style: solid;
  border-width: 2px;
  border-color: #536cd8 #262626 #262626 #536cd8;
  border-radius: 5px;
}

/* line 42, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.workday-page button:hover {
  background: #0028db;
}

/* line 44, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.workday-page button:active {
  background: #0025c8;
}

/* line 46, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.workday-page button:disabled {
  color: #000;
  background: #21b9ff;
}

/* line 50, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.data-box {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 15px;
  min-height: 50px;
  width: 1480px;
  background-color: #757575;
  border-style: solid;
  border-width: 2px;
  border-color: #a2a2a2 #262626 #262626 #a2a2a2;
  border-radius: 6px;
}

/* line 63, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration {
  display: flex;
  flex-direction: row;
}

/* line 66, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__item {
  margin-right: 10px;
  height: 45px;
  margin-bottom: 3px;
  border: 1px solid #8a8a8a;
  border-radius: 3px;
  user-select: none;
  background: #c5c5c5;
  color: #000000;
  padding: 0 auto;
  line-height: 22px;
  box-shadow: 1px 1px 2px #000000 inset;
}

/* line 82, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__date {
  width: 100px;
}

/* line 84, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__time {
  width: 65px;
  text-align: center;
  line-height: 24px;
}

/* line 89, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__reg {
  width: 1100px;
  padding-left: 7px;
  height: auto;
}

/* line 93, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__cancel-button {
  width: 100px;
  height: 24px;
  padding: 2px 2px;
  color: #ececec;
  background: #9b2900;
  border-style: solid;
  border-width: 2px;
  border-color: #956757 #262626 #262626 #956757;
  border-radius: 5px;
}

/* line 103, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__cancel-button:hover {
  background: #7c2201;
}

/* line 105, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.registration__cancel-button:active {
  background: #6a1c00;
}

/* line 108, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.modal {
  --bs-modal-width: 350px;
}

/* line 111, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.modal-content {
  background-color: #4a4a4a;
}

/* line 113, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/carwash/static/carwash/sass/user_registrations.sass */
.modal-content__body-text {
  color: #ececec;
  font-size: 22px;
  text-align: center;
}

/*# sourceMappingURL=user_registrations.css.map */