@import "resets.scss"
@import "normalizez.scss"

 
$color-menu: #656565
$color-menu-blue: #043b6f
$color-red: #ff5151
$color-menu-hover: #9ae7ff

    
*
    box-sizing: border-box

// @font-face 
//     font-family: "Robotoo"
//     src: url("../fonts/Roboto-Regular.ttf")
//     font-weight: regular
//     font-style: normal

// @font-face 
//     font-family: "Robotoo"
//     src: url("../fonts/Roboto-Bold.ttf")
//     font-weight: bold
//     font-style: normal

@font-face 
    font-family: "MManrope"
    src: url("../fonts/Manrope-Regular.ttf")
    font-weight: regular
    font-style: normal

@font-face 
    font-family: "MManrope"
    src: url("../fonts/Manrope-Bold.ttf")
    font-weight: bold
    font-style: normal

// @font-face 
//     font-family: "PTsans"
//     src: url("../fonts/PTSans-Regular.ttf")
//     font-weight: regular
//     font-style: normal

// @font-face 
//     font-family: "PTsans"
//     src: url("../fonts/PTSans-Bold.ttf")
//     font-weight: bold
//     font-style: normal

// html
//     font-family: "PTsans"
//     font-weight: regular
//     scroll-behavior: smooth

html
    font-family: "MManrope"
    font-weight: regular
    scroll-behavior: smooth

.container
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 1140px
    align-items: center
    margin: 0 auto  //где находится контейнер (по середине)
    
.text
    color: #e3e3e3

.header
    position: sticky
    top: 0
    min-height: 100px
    background: #043b6f
    padding-top: 25px
    z-index: 5        
    &__logo-box
        margin-left: 30px 
        width: 400px        
        filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 1))            
    &__contacts-nav
        justify-content: space-between

.nav-menu
    display: flex
    align-items: center
    justify-content: space-between  //расстояние между основными кнопками меню и Войти
    width: 600px
    height: 35px 
    &__list
        display: flex
        flex-direction: row
        margin-left: 0px
        text-align: center
        a
            cursor: default
    &__list-item
        margin-right: 30px
        font-size: 18px
        &:last-child
            margin-right: 20px // margin Войти
    &__text        
        text-decoration: none
        color: white
    &__text:hover
        color: $color-menu-hover


.dropdown-menu
    background: #e7e7e7
    &__user
        text-align: center
    

.dropdown-item
    color: #000000
    &__email:hover
        --bs-dropdown-link-hover-bg: #e7e7e7
    


.btn-secondary 
    --bs-btn-color: #fff
    --bs-btn-bg: $color-menu-blue
    --bs-btn-border-color: $color-menu-blue
    --bs-btn-hover-color: #9ae7ff
    --bs-btn-hover-bg: $color-menu-blue
    --bs-btn-hover-border-color: $color-menu-blue
    --bs-btn-focus-shadow-rgb: 130,138,145
    --bs-btn-active-color: #9ae7ff
    --bs-btn-active-bg: $color-menu-blue
    --bs-btn-active-border-color: $color-menu-blue
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
    --bs-btn-disabled-color: #fff
    --bs-btn-disabled-bg: $color-menu-blue
    --bs-btn-disabled-border-color: $color-menu-blue



.footer
    // overflow: hidden
    background: black 
    // &__text 
    //     color:   
    &__container
        min-height: 110px        
    &__logo-box        
        margin-left: 50px
    &__contacts-box
        display: flex
        flex-direction: row     
        font-size: 18px
    &__item
        margin-right: 50px
    &__contacts-title
        margin-bottom: 5px

@media (max-width: 1199px)
    .container
        width: 960px
    .header
        &__logo-box
            width: 300px
    .nav-menu
        width: 550px
        &__list-item
            margin-right: 20px
            font-size: 16px
    
    .footer
        &__logo-box
            width: 250px
        &__contacts-box
            font-size: 14px


@media (max-width: 991px)
    .container 
        width: 720px
    .header
        &__logo-box
            width: 250px
    .nav-menu
        width: 350px
        &__list-item
            width: 90px
            margin-right: 15px
            font-size: 14px
    
    .footer
        &__logo-box
            width: 200px
            margin-left: 40px
        &__contacts-box
            font-size: 12px
        &__item
            margin-right: 30px
            &:last-child
                margin-right: 0px

    
// сейчас
@media (max-width: 767px)
    .container 
        width: 540px
    
@media (max-width: 575px)
    .container 
        width: 100%