@import "resets.scss"
@import "normalizez.scss"

 
$color-menu: #656565
$color-menu-blue: #043b6f
$color-red: #ff5151
$color-menu-hover: #ff5151

    
*
    box-sizing: border-box

@font-face 
    font-family: "Robotoo"
    src: url("../fonts/Roboto-Regular.ttf")
    font-weight: regular
    font-style: normal

@font-face 
    font-family: "Robotoo"
    src: url("../fonts/Roboto-Bold.ttf")
    font-weight: bold
    font-style: normal

html
    font-family: "Robotoo"
    font-weight: regular
    scroll-behavior: smooth

.container
    display: flex
    flex-direction: row
    justify-content: space-between
    max-width: 1140px
    align-items: center
    margin: 0 auto  //где находится контейнер (по середине)
    
.text
    color: white

.header
    position: sticky
    top: 0
    min-height: 100px
    background: #043b6f
    padding-top: 25px
    z-index: 5        
    &__logo-box
        margin-left: 30px        
        // margin-right: 200px 
        filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 1))            
      
.nav-menu
    display: flex
    align-items: center
    justify-content: space-between  //расстояние между основными кнопками меню и Войти
    width: 550px
    height: 35px
    &__list
        display: flex
        flex-direction: row
        margin-left: 0px
        a
            cursor: default
    &__list-item
        margin-right: 30px
        font-size: 18px
        &:last-child
            margin-right: 20px // margin Войти
    &__text
        text-decoration: none
        color: white
    &__text:hover
        color: $color-menu-hover


.dropdown-menu
    background: #e7e7e7
    

.dropdown-item
    color: #000000


.btn-secondary 
    --bs-btn-color: #fff
    --bs-btn-bg: $color-menu-blue
    --bs-btn-border-color: $color-menu-blue
    --bs-btn-hover-color: #ff5151
    --bs-btn-hover-bg: $color-menu-blue
    --bs-btn-hover-border-color: $color-menu-blue
    --bs-btn-focus-shadow-rgb: 130,138,145
    --bs-btn-active-color: #ff5151
    --bs-btn-active-bg: $color-menu-blue
    --bs-btn-active-border-color: $color-menu-blue
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
    --bs-btn-disabled-color: #fff
    --bs-btn-disabled-bg: $color-menu-blue
    --bs-btn-disabled-border-color: $color-menu-blue



.footer
    background: black 
    &__text 
        // color: #b5b5b5
        color: #e3e3e3  
    &__container
        min-height: 110px        
    &__logo-box        
        margin-left: 50px
    &__contacts-box
        display: flex
        flex-direction: row     
        // margin-bottom: 18px
        font-size: 18px

.contacts    
    &__item
        margin-right: 50px
    &__title
        margin-bottom: 5px

        

// .footer
//     background: black 
//     &__text 
//         // color: #b5b5b5
//         color: #e3e3e3  
//     &__container
//         min-height: 110px 
//         max-width: 1140px
//         display: flex        
//         justify-content: flex-end        
//     &__logo-box        
//         margin-left: 50px
//     &__contacts-box        
//         display: flex
//         flex-direction: row            
//         // margin-bottom: 18px
//         font-size: 18px


        
        

        
        