@import "normalizez.scss"
@import "resets.scss"

    
*
    box-sizing: 0

.container
    max-width: 1140px
    margin: 0 auto  //где находится контейнер (по середине)

.main-menu
    min-height: 150px
    background: #0056A9
    padding-top: 20px
    &__logo-box
        margin-left: 30px
        margin-right: 68px
    &__container
        display: flex
        flex-direction: row
        align-items: center
        margin-bottom: 20px       
    &__adress-box
        display: flex
        flex-direction: row
        align-items: center
        margin-bottom: 18px
    &__hr
        width: 1140px
        bottom: 0px
        border: none
        border-top: 1px solid white
    

.text-menu
    color: white
    &__adress
        margin-bottom: 18px
    &__item
        margin-right: 10px
        &:first-child
            margin-left: 20px
        &_adress
            font-size: 18px
            margin-right: 52px
        &_telephone
            font-size: 20px
        i
            font-size: 18px

.nav-menu
    display: flex
    align-items: center
    justify-content: space-between
    width: 677px
    height: 44px
    border-radius: 9px
    background: #4CBB51
    filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.25))
    &__list
        display: flex
        flex-direction: row
        margin-left: 20px
    &__list-item
        margin-right: 40px
        font-size: 18px
        &:last-child
            margin-right: 20px
        