$color-main: #0056A9
$color-red: #C23349
$color-green: #5CAB5F
$color-dark-blue: #32449F
$color-grey: #656565
$color-dark-grey: #474747

// $color-white: #ddd
$color-white: #ececec

.section
    overflow: hidden

.carousel-item
    position: relative
    img
        height: 770px
        object-fit: cover

.overlay
    position: absolute
    height: 100%
    width: 100%
    background: black
    opacity: 0.3

.first-section
    height: 870px
    background: $color-main
    &__superstructure
        // height: 50px
    &__content
        max-width: 800px        
        position: absolute
        left: 13%
        bottom: 7%
        font-size: 22px
        color: white
        z-index: 1    
    &__content-title
        max-width: 800px 
        bottom: 7%
        // font-size: 26px
    

.second-section
    min-height: 480px
    background: $color-main
    &__cards-box
        max-width: 1140px
        margin: 0 auto
        display: flex
        flex-direction: row
        margin-bottom: 80px
   
.cards-item
    position: relative
    display: flex
    justify-content: center
    align-items: center
    height: 360px
    width: 360px
    border-radius: 20px   
    margin-right: 30px
    border: 2px solid $color-white
    box-shadow: 8px 4px 4px 0px rgba(0, 0, 0, 0.25)
    &:last-child
        margin-right: 0
    &__bolts-box
        width: 322px
        height: 322px
    &__bolts_y        
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-bottom: 289px
    &__content
        width: 290px
        position: absolute
        top: 30px
        text-align: center        
    &__title        
        font-size: 32px
        margin-bottom: 15px
    &__description
        font-size: 22px
        text-align: left    

.cards-item_red
    background: $color-red

.cards-item_green
    background: $color-grey

.cards-item_blue
    background: $color-dark-blue

.services-section
    overflow: hidden
    position: relative        
    min-height: 1120px
    background: $color-main  
    &__image
        position: relative
        height: 1000px
        margin: 0 auto
        background: url("/static/carwash/images/car-service.png"), $color-main 50% 
        background-repeat: no-repeat
        background-blend-mode: screen
        margin-bottom: 60px
    &__price
        position: absolute
        top: 119px
        left: 20%
        min-height: 755px
        width: 1140px
        border-radius: 16px
        border: 3px solid $color-white
        border-style: solid
        border-width: 3px
        border-color: #a2a2a2 #333333 #333333 #a2a2a2
        border-radius: 5px
        box-shadow: 8px 5px 4px 0px rgba(0, 0, 0, 0.25)
        background: $color-grey 
    &__link-freepik
        position: absolute
        color: #3304dd
        text-align: right
        margin-right: 20px
        top: 965px
        right: 18px
    &__th1
        font-size: 32px        
    &__description
        text-align: left

.third-section
    min-height: 600px
    background: $color-main

table, td, th
    margin: 0 auto    
    color: white

table
    margin-top: 10px    
    

th  
    margin: 0
    padding: 27px
    font-size: 18px
    border-bottom: 1px solid #ddd
    vertical-align: bottom
td  
    padding: 9px
    font-size: 16px
    text-align: center
    border-bottom: 1px solid #ddd
    
tr:nth-child(even)
    background-color: $color-dark-grey

    
// @media (max-width: 1199px)
//     .section 
//         width: 960px
    
