$color-blue: #0056A9
$color-red: #C23349
$color-red2: #C53B50
$color-green: #4CBB51
$color-green2: #5CAB5F
$color-dark-blue: #1731B9
$color-dark-blue2: #32449F
    
   
.first-section
    min-height: 766px
    background: $color-blue    
    &__content        
        max-width: 1140px
        margin: 0 auto
        display: flex
        flex-direction: column
    &__title
        font-size: 55px
        color: white
        text-align: center
        margin-top: 35px
        margin-bottom: 35px

.second-section
    min-height: 480px
    background: $color-blue
    &__cards-box
        max-width: 1140px
        margin: 0 auto
        display: flex
        flex-direction: row
        margin-bottom: 56px
   
.cards-item
    position: relative
    display: flex
    justify-content: center
    align-items: center
    height: 360px
    width: 360px
    border-radius: 20px   
    margin-right: 30px
    border: 2px solid #FFF
    box-shadow: 8px 4px 4px 0px rgba(0, 0, 0, 0.25)
    &:last-child
        margin-right: 0
    &__bolts-box
        width: 322px
        height: 322px
    &__bolts_y        
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-bottom: 289px
    &__content
        width: 290px
        position: absolute
        top: 30px
        text-align: center        
    &__title        
        font-size: 36px
        margin-bottom: 10px
    &__description
        font-size: 22px
        text-align: left    

.cards-item_red
    background: $color-red
    // background: $color-red2

.cards-item_green
    // background: $color-green
    background: $color-green2

.cards-item_blue
    // background: $color-dark-blue
    background: $color-dark-blue2

.services-section
    position: relative        
    min-height: 1120px
    background: $color-blue    
    &__image
        position: relative
        height: 1000px
        margin: 0 auto
        background: url("/static/carwash/images/car-service.png"), $color-blue 50% 
        background-repeat: no-repeat
        background-blend-mode: screen
        margin-bottom: 60px
    &__price
        position: absolute
        top: 119px
        left: 370px
        min-height: 158px
        display: flex
        flex-direction: column
    &__price-top
        margin: 0 auto
        display: inline-flex
        justify-content: center
        align-items: center
        min-height: 72px
        width: 1140px
        background: $color-green2
        border-radius: 16px 16px 0px 0px
        border: 3px solid #FFF
        border-bottom: none
        color: white
        box-shadow: 8px 5px 4px 0px rgba(0, 0, 0, 0.25)
    &__title-h1
        font-size: 40px
        margin-right: 300px

    &__service
        background: $color-green2
        border: 3px solid #FFF
        border-top: none
        border-bottom: none
        box-shadow: 8px 5px 4px 0px rgba(0, 0, 0, 0.25)
    &__s        
        min-height: 36px
        margin: 0 auto
        width: 1080px
        background: #1D7636
        border: 1px solid #FFF
        border-left: none
        border-right: none
    &__price-bottom
        margin: 0 auto
        min-height: 50px
        width: 1140px
        background: $color-green2
        border-radius: 0px 0px 16px 16px
        border: 3px solid #FFF
        border-top: none
        box-shadow: 8px 5px 4px 0px rgba(0, 0, 0, 0.25)
    
    &__link-freepik
        position: absolute
        color: #3304dd
        text-align: right
        margin-right: 20px
        top: 965px
        right: 18px
        
.third-section
    min-height: 600px
    background: $color-blue

        
