$color-main: #0056A9
$color-grey: #656565
$color-dark-grey: #474747
$color-white: #ececec

.carousel-item
    position: relative
    img
        height: 770px
        object-fit: cover
.overlay
    position: absolute
    height: 100%
    width: 100%
    background: black
    opacity: 0.5
.first-section
    height: calc(93vh - 80px)
    background: $color-main
    &__content-title
        max-width: 800px 
        bottom: 7%
    &__content
        width: 80vw        
        position: absolute
        left: 13%
        bottom: 7%
        font-size: 22px
        color: white
        z-index: 1
.carousel-item
    img
        height: calc(83vh - 70px)
.services-section
    display: fles
    min-height: 1120px
    background: $color-main  
    &__image
        display: flex
        height: 950px
        background: url("/static/carwash/images/car-service.png"), $color-main 50% 
        background-repeat: no-repeat
        background-blend-mode: screen
        margin-bottom: 10vh
    &__price
        margin: 0 auto
        margin-top: 10vh
        height: calc(80%)
        width: 1140px
        border-radius: 16px
        border: 3px solid $color-white
        border-style: solid
        border-width: 3px
        border-color: #a2a2a2 #333333 #333333 #a2a2a2
        border-radius: 5px
        box-shadow: 8px 5px 4px 0px rgba(0, 0, 0, 0.25)
        background: $color-grey 
    &__link-freepik
        position: absolute
        color: #3304dd
        font-size: 10px
        text-align: right
        margin-right: 20px
        top: calc(100% - 30px)
        right: 18px
    &__th1
        font-size: 32px        
    &__description
        text-align: left

table, td, th
    margin: 0 auto    
    color: white
table
    margin-top: 10px    
th  
    text-align: center
    padding: 27px
    font-size: 18px
    border-bottom: 1px solid #ddd
    vertical-align: bottom
td  
    padding: 10px
    font-size: 16px
    text-align: center
    border-bottom: 1px solid #ddd    
tr:nth-child(even)
    background-color: $color-dark-grey
.third-section
    overflow: hidden
    min-height: 530px
    background: $color-main

@media (max-width: 1449px)
    .services-section
        min-height: 1030px
        &__image
            height: 900px
        &__price
            width: calc(80% + 20px)
    td  
        padding: 8px
    .third-section
        min-height: 500px

@media (max-width: 991px)
    .first-section__content-title
        font-size: 18px
    .first-section__content
        font-size: 16px
    .services-section
        min-height: 770px
        &__image
            height: 700px
        &__price
            height: 540px
        &__th1
            font-size: 20px
    th
        padding: 10px 10px 5px 0px
        font-size: 14px
    td  
        padding: 5px
        font-size: 14px
    .third-section
        min-height: 370px
    iframe
        height: 300px    
    
@media (max-width: 767px)
    .first-section__content-title
        font-size: 16px
    .first-section__content
        font-size: 14px
    .btn
        font-size: 14px
    .services-section
        min-height: 720px
        &__image
            height: 650px
        &__price
            height: 500px
        &__th1
            font-size: 16px
    th  
        font-size: 12px    
    td  
        font-size: 12px

@media (max-width: 592px)
    .services-section
        min-height: 650px
        &__image
            height: 590px
        &__price
            height: 450px
        &__th1
            font-size: 16px
    th
        font-size: 10px    
    td  
        font-size: 10px
    .third-section
        min-height: 355px    

@media (max-width: 465px)
    .services-section
        min-height: 610px
        &__th1
            font-size: 12px
    th
        &:nth-child(3)
            display: none
        &:nth-child(4)
            display: none
    td  
        &:nth-child(3)
            display: none
        &:nth-child(4)
            display: none
    