$color-main: #0056A9
$color-red: #C23349
$color-green: #5CAB5F
$color-dark-blue: #32449F
$color-menu-hover: #9ae7ff

// $color-white: #ddd
$color-white: #ececec

    
body
    background: black


.registration
    min-height: 750px
    background: url("../images/193.png"), $color-main 50% 
    background-repeat: no-repeat
    background-blend-mode: screen
    &__form
        display: flex
        flex-direction: column
        align-items: center            
    &__without-button
        height: 612px
        width: 1420px
        // margin: 0 auto
        margin-top: 20px
        margin-bottom: 20px
        color: $color-white
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between        
    &__box-services
        height: 612px
        width: 640px
        background-color: #525252
        border-style: solid
        border-width: 2px
        border-color: #a2a2a2 #262626 #262626 #a2a2a2
        border-radius: 6px
    button
        padding: 10px 52px
        color: $color-white
        background: #002cf2
        border-style: solid
        border-width: 2px
        border-color: #536cd8 #262626 #262626 #536cd8
        border-radius: 5px
    button:hover
        background: #0028db
    button:active
        background: #0020ad
    button:disabled
        color: #adadad
        background: #0020ad
        border-width: 2px
        border-color: #0020ad
        border-radius: 5px              


.services
    &__title
        margin-top: 20px 
        margin-bottom: 15px       
        text-align: center
        font-size: 25px
        height: 35px
    &__border
        margin: 0 auto
        margin-top: 7px
        height: 593px
        width: 620px
        border: 2px solid #a2a2a2
        // border-style: solid
        // border-width: 2px
        // border-color: #262626 #a2a2a2 #a2a2a2 #262626
        border-radius: 6px
    &__p
        padding: 5px
        line-height: 15px
        text-indent: 13px

table
    margin: 0 auto
    margin-bottom: 20px
    text-align: left    

td  
    padding: 3px
    font-size: 16px

tr:hover 
    background-color: #494949   

.day
    display: inline-flex
    height: 612px
    width: 100px
    background-color: #525252
    margin-right: 3px
    border-radius: 6px
    border-style: solid
    border-width: 2px
    border-color: #a2a2a2 #262626 #262626 #a2a2a2
    &__date
        margin: 0 auto
        text-align: center
        padding: 10px
        font-size: 16px
        width: 70px
    &__border
        display: flex
        flex-direction: column
        margin: 0 auto
        margin-top: 5px
        height: 570px
        width: 80px
        input
            type: radio
            display: none
        input:checked + label
            background: #ffb11f
            color: #09172b
            box-shadow: 1px 1px 3px #000000 inset
        input:disabled + label
            background: #434343
            color: #7b7b7b
            box-shadow: 1px 1px 2px #000000 inset
        label            
            text-align: center
            height: 22px
            background: #c5c5c5
            color: #000000
            line-height: 22px
            border: 1px solid #8a8a8a
            border-radius: 5px
            user-select: none
            margin-bottom: 2px /* отодвигаем кнопки время вниз друг от друга */
        label:hover
            color: #ff1616


        




    