$color-main: #0056A9
$color-red: #C23349
$color-green: #5CAB5F
$color-dark-blue: #32449F
$color-white: #ddd

main
    background: #7af8ff
    
    

.registration
    position: relative
    min-height: 709px
    margin: 0 auto
    background: url("../images/car-service2.png"), $color-main 100% 
    background-repeat: no-repeat
    background-blend-mode: screen
    &__box-services
        height: 570px
        width: 678px
        background-color: #676767
        color: #ffffff
    &__box-time-choice
    &__form
        display: flex
        flex-direction: row
    
.day
    display: inline-flex
    border-width: 100px
    height: 655px
    width: 100px
    background-color: #8d8d8d
    margin-right: 10px
    box-shadow: 12px -12px 8px 2px rgba(73, 119, 154, 0.25)
    &__content
        height: 635px
        width: 90px
        border: solid 1px
        border-color: #ddd
        position: relative
        top: 10px




    