$color-main: #0056A9
$color-white: #ececec

    
body
    background: black
.colortext
    background-color: #c5f1ff

.registration
    min-height: 750px
    background: url("../images/193.png"), $color-main 50% 
    background-repeat: no-repeat
    background-blend-mode: screen
    &__form
        display: flex
        flex-direction: column
        align-items: center
    &__without-button
        flex-direction: row
        justify-content: space-between 
        height: 612px
        width: 1340px
        margin-top: 20px
        margin-bottom: 20px
        color: $color-white
        display: flex
    &__comment
        width: 600px
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-bottom: 20px
        input
            border-style: solid
            border-radius: 5px
            border-color: #626262
        input::placeholder
            text-align: center
            color: #1f1f1f

    &__box-services
        height: 612px
        width: 640px
        background-color: #525252
        border-style: solid
        border-width: 2px
        border-color: #a2a2a2 #262626 #262626 #a2a2a2
        border-radius: 6px
    button
        background: #0028db
        min-width: 200px
    button:hover
        background: #012be6
    
.services
    &__title
        margin-top: 20px 
        margin-bottom: 15px
        text-align: center
        font-size: 25px
        height: 35px
    &__border
        margin: 0 auto
        margin-top: 7px
        height: 593px
        width: 620px
        border: 2px solid #a2a2a2
        border-radius: 6px
    &__p
        padding: 5px
        text-indent: 13px

table
    margin: 0 auto
    margin-bottom: 20px
    text-align: left    

td  
    padding: 3px
    font-size: 16px

tr:hover 
    background-color: #494949   

.day
    display: inline-flex
    height: 612px
    width: 90px
    background-color: #525252
    margin-right: 3px
    border-radius: 6px
    border-style: solid
    border-width: 2px
    border-color: #a2a2a2 #262626 #262626 #a2a2a2
    &__date
        margin: 0 auto
        text-align: center
        margin: 15px 0px 10px 0px
        line-height: 20px
        font-size: 16px
        width: auto
    &__border
        display: flex
        flex-direction: column
        margin: 0 auto
        margin-top: 5px
        height: 570px
        width: auto
        input
            type: radio
            display: none
        input:checked + label
            background: #ffb11f
            color: #09172b
        input:disabled + label
            background: #434343
            color: #7b7b7b
            box-shadow: 1px 1px 2px #000000 inset
        label            
            text-align: center
            height: 24px
            padding: 0px 10px 0px 10px
            background: #c5c5c5
            color: #000000
            line-height: 17px
            border: 1px solid #8a8a8a
            border-radius: 5px
            user-select: none
            margin-bottom: 5px /* отодвигаем кнопки время вниз друг от друга */
        label:hover
            color: #ff1616

@media (max-width: 1449px)
    .registration
        &__without-button
            height: 612px
            width: 1260px
        &__box-services
            height: 585px
            width: 640px
    .services
        &__title
            font-size: 22px
        &__border
            height: 565px
            width: 620px
    td
        font-size: 14px
    .services_p
        font-size: 16px
    .day
        font-size: 14px
        width: 80px
        height: 585px
        &__border
            label
                padding: 0px 5px 0px 5px
                margin-bottom: 3px
        &__date
            font-size: 14px
            margin: 0 0 5px 0

@media (max-width: 1349px)
    .registration
        background-size: 100% 100%
        min-height: 1350px
        &__form
            height: 1300px
        &__without-button
            display: flex
            flex-direction: column
            align-items: center            
            height: auto
            width: 100%
        &__box-services
            margin-bottom: 15px

@media (max-width: 991px)
    .registration
        &__form
            min-height: 750px
        &__without-button
            display: flex
            flex-direction: column
            align-items: center            
        &__without-button

@media (max-width: 767px)
    .registration
        &__form
            height: 1240px
        &__box-services
            height: 535px
            width: 88%
        &__comment
            width: 100%
            flex-direction: column
            align-items: center
            input
                width: 200px
                margin-bottom: 5px
            input::placeholder
                font-size: 14px
    .services
        &__title
            font-size: 18px
            margin: 15px 0px 0px 0px
        &__border
            height: 515px
            width: calc(100% - 14px)
    td
        font-size: 12px
        
    .services__p
        font-size: 14px
        padding: 0
        margin-bottom: 5px
    .day
        font-size: 14px
        width: 75px
        height: 585px
        &:nth-child(6)
            display: none
        &:nth-child(7)
            display: none
        &__border
            label
                padding: 0px 5px 0px 5px
                margin-bottom: 3px
        &__date
            font-size: 14px
            margin: 0 0 5px 0

@media (max-width: 659px)
    .services
        &__title
            font-size: 18px
    td
        font-size: 12px
    .services__p
        font-size: 14px

@media (max-width: 587px)
    .services
        &__title
            font-size: 16px
    td
        font-size: 10px
    .services__p
        font-size: 12px

@media (max-width: 455px)
    .day
        &:nth-child(5)
            display: none

@media (max-width: 365px)
    .day
        &:nth-child(4)
            display: none