$color-main: #0056A9
$color-red: #C23349
$color-green: #5CAB5F
$color-dark-blue: #32449F
$color-menu-hover: #9ae7ff

// $color-white: #ddd
$color-white: #ececec
    
body
    background: black


.section-staff
    min-height: 750px
    background: url("../images/193.png"), $color-main 50% 
    background-repeat: no-repeat
    background-blend-mode: screen
    display: flex
    flex-direction: column

.workday-page
    margin: 0 auto
    margin-top: 20px
    display: flex
    flex-direction: row
    margin-bottom: 20px
    &__button
        margin-right: 130px
        &:last-child
            margin-right: 0
     
    button
        width: 200px
        padding: 5px 5px
        color: $color-white
        background: #0129df
        border-style: solid
        border-width: 2px
        border-color: #536cd8 #262626 #262626 #536cd8
        border-radius: 5px

    button:active
        background: #0020ad
    button:disabled
        background: #6a7ed4

.data-box
    margin: 0 auto
    margin-bottom: 20px
    padding: 15px
    min-height: 50px
    width: 1460px
    background-color: #757575
    border-style: solid
    border-width: 2px
    border-color: #a2a2a2 #262626 #262626 #a2a2a2
    border-radius: 6px        
    &__item
        margin-right: 10px
        height: 24px
        margin-bottom: 3px //* отодвигаем кнопки время вниз друг от друга */
        border: 1px solid #8a8a8a
        border-radius: 3px
        user-select: none

.free
    background: #c5c5c5
    color: #000000
    padding: 0 auto
    line-height: 19px
    border-style: solid
    border-width: 2px
    border-color: #e6e6e6 #3a3a3a #3a3a3a #e7e7e7
.busy
    background: #434343
    color: #c0c0c0
    box-shadow: 2px 2px 4px #000000 inset
    line-height: 22px

.time-workday
    display: flex
    flex-direction: row
    &__time
        width: 55px
        text-align: center
    &__time-free
    &__time-busy
        line-height: 24px
    &__client-busy
        width: 150px
        text-indent: 7px  
    &__client-free
        width: 150px
        text-align: center
    &__services
        width: 1100px
        padding-left: 7px
    &__services_big
        width: 1100px
        padding-left: 7px
        height: 45px
    &__cancel-button
        width: 90px
        height: 24px
        padding: 2px 2px
        color: $color-white
        background: #9b2900 //$color-dark-blue
        border-style: solid
        border-width: 2px
        border-color: #956757 #262626 #262626 #956757
        border-radius: 5px
    &__cancel-button:active
        background: #6a1c00
        


        


 
    