$color-main: #0056A9
$color-red: #C23349
$color-green: #5CAB5F
$color-dark-blue: #32449F
$color-menu-hover: #9ae7ff
$color-white: #ececec


body
    background: black    

.space_background
    min-height: 750px
    background: url("../images/193.png"), $color-main 50% 
    background-repeat: no-repeat
    background-blend-mode: screen
    display: flex
    flex-direction: column

.user-registrations-box
    margin: 0 auto
    margin-top: 50px
    min-height: 50px
    padding: 15px
    width: auto
    background-color: rgb(246, 246, 246)
    border-radius: 6px
    box-shadow: 8px 5px 4px 0px rgba(0, 0, 0, 0.25)        

.registration
    margin-bottom: 10px //* отодвигаем записи вниз друг от друга */
    border-radius: 5px 5px 5px 5px
    user-select: none
    color: #000000
    background: rgb(255, 255, 255)    
    box-shadow: 0 1px 2px rgba(0,0,0,.16)        
    &__title
        display: flex
        flex-direction: row
        padding: 0px 15px 0px 15px
        justify-content: space-between        
        background: #e2e2e2
        border-radius: 5px 5px 0px 0px
    &__item
        font-family: "PTsans"
        height: auto
        width: auto 
        padding: 10px
    &__date
        width: 100px        
        font-weight: bold
        text-align: center             
    &__reg
        width: 1100px
        padding: 10px 25px 10px 25px
        border-radius: 0px 0px 13px 13px
        height: auto
        font-weight: regular
    &__empty
        width: 1100px
        text-align: center
    &__cancel-button
        line-height: 30px
        text-decoration: none
        cursor: pointer
        color: #d30000
    &__cancel-button:hover
        color: #9f0000
    &__cancel-button:active
        color: #870202
    

.modal
    --bs-modal-width: 350px

.modal-content    
    background-color: #4a4a4a
    &__body-text
        color: $color-white
        font-size: 22px
        text-align: center

