$color-main: #0056A9
$color-red: #C23349
$color-green: #5CAB5F
$color-dark-blue: #32449F
$color-menu-hover: #9ae7ff

// $color-white: #ddd
$color-white: #ececec
    
body
    background: black


.user_registrations
    min-height: 750px
    background: url("../images/193.png"), $color-main 50% 
    background-repeat: no-repeat
    background-blend-mode: screen
    display: flex
    flex-direction: column

.workday-page
    margin: 0 auto
    margin-top: 20px
    display: flex
    flex-direction: row
    margin-bottom: 20px
    &__button
        margin-right: 130px
        &:last-child
            margin-right: 0
     
    button
        width: 200px
        padding: 5px 5px
        color: $color-white
        background: #002cf2
        border-style: solid
        border-width: 2px
        border-color: #536cd8 #262626 #262626 #536cd8
        border-radius: 5px
    button:hover
        background: #0028db
    button:active
        background: #0025c8
    button:disabled
        color: #000 // #cbcaca
        background: #21b9ff

.data-box
    margin: 0 auto
    margin-bottom: 20px
    padding: 15px
    min-height: 50px
    width: 1480px
    background-color: #757575
    border-style: solid
    border-width: 2px
    border-color: #a2a2a2 #262626 #262626 #a2a2a2
    border-radius: 6px        


.registration
    display: flex
    flex-direction: row
    &__item
        margin-right: 10px
        height: 45px
        margin-bottom: 3px //* отодвигаем кнопки время вниз друг от друга */
        border: 1px solid #8a8a8a
        border-radius: 3px
        user-select: none
        background: #c5c5c5
        color: #000000
        padding: 0 auto
        line-height: 22px
        box-shadow: 1px 1px 2px #000000 inset
        // background: #434343
        // color: #c0c0c0
        // box-shadow: 1px 1px 2px #000000 inset
        // line-height: 22px
    &__date
        width: 100px
    &__time
        width: 65px
        text-align: center
        line-height: 24px
    
    &__reg
        width: 1100px
        padding-left: 7px    
        height: auto
    &__cancel-button
        width: 100px
        height: 24px
        padding: 2px 2px
        color: $color-white
        background: #9b2900 //$color-dark-blue
        border-style: solid
        border-width: 2px
        border-color: #956757 #262626 #262626 #956757
        border-radius: 5px
    &__cancel-button:hover
        background: #7c2201
    &__cancel-button:active
        background: #6a1c00

.modal
    --bs-modal-width: 350px

.modal-content    
    background-color: #4a4a4a //var(--bs-modal-color)  
    &__body-text
        color: $color-white
        font-size: 22px
        text-align: center

