{% extends 'carwash/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/password_change.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block content %}
    <main>
        <div class="space_background">            
            <div class="password-data">
                <div class="password-data__header">
                    <h4>Смена пароля</h4>
                </div>
                <div class="password-data__body">
                    <form action="{% url 'users:password_change' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="password-data__item">
                            <label class="password-data__label" for="{{ form.password1.id_for_label }}">Введите старый пароль</label>
                            <div class="password-data__form">{{ form.old_password }}</div>
                        </div>

                        <div class="password-data__item">
                            <label class="password-data__label" for="{{ form.password1.id_for_label }}">Введите новый пароль</label>
                            <div class="password-data__form">{{ form.new_password1 }}</div>
                        </div>

                        <div class="password-data__item">
                            <label class="password-data__label" for="{{ form.password2.id_for_label }}">Введите новый пароль ещё раз</label>
                            <div class="password-data__form">{{ form.new_password2 }}</div>
                        </div>
                        <div class="password-data__button">
                            <input class="btn btn-primary" type="submit" value="Сохранить">                    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}