{% extends 'carwash/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/profile.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block content %}
    <main>
        <div class="space_background">            
            <div class="profile-data">
                <div class="message-box">
                    {% if messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {% for message in messages %}
                                {{ message|linebreaksbr }}
                            {% endfor %}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
                        </div>
                    {% endif %}
                </div>
                <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="profile-data__item">
                        <label class="profile-data__label" for="{{ form.email.id_for_label }}">Логин</label>
            
                        <div class="profile-data__form">{{ form.email }}</div>
                    </div>

                    <div class="profile-data__item">
                        <label class="profile-data__label" for="{{ form.fio.id_for_label }}">Фамилия Имя Отчество</label>
                        <div class="profile-data__form">{{ form.fio }}</div>
                    </div>    

                    <div class="profile-data__item">
                        <div class="profile-data__form-error">{{ form.phone_number.errors }}</div>
                        <label class="profile-data__label" for="{{ form.phone_number.id_for_label }}">Телефон</label>
                        <div class="profile-data__form">{{ form.phone_number }}</div>
                    </div>

                    <div class="profile-data__item">
<!--                        <label class="profile-data__label" for="{{ form.car_type.id_for_label }}">Прайс </label>-->
<!--                        <div class="profile-data__form">{{ form.car_type }}</div>-->
                        <label class="profile-data__label">Прайс </label>
                        <div class="profile-data__form">
                            <input type="text" value="{{ user.get_car_type_display }}" class="readonly" readonly="True" maxlength="255">
                        </div>
                    </div>

                    <div class="profile-data__item">
                        <label class="profile-data__label" for="{{ form.car_model.id_for_label }}">Марка и модель автомобиля</label>
                        <div class="profile-data__form">{{ form.car_model }}</div>
                    </div>

                    <!-- <div class="profile-data__item">
                        <label class="profile-data__label" for="{{ form.discount.id_for_label }}">Персональная скидка</label>
                        <div class="profile-data__form profile-data__d">{{ form.discount }}</div>
                    </div> -->
                    
                    <div class="profile-data__button">
                        <a class="profile-data__a" href="{% url 'users:password_change' %}">Сменить пароль</a>
                        <input class="btn btn-primary" type="submit" value="Сохранить">                            
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}