@charset "UTF-8";
/* line 5, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
body {
  background: black;
}

/* line 8, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.space_background {
  height: 78vh;
  min-height: 700px;
  background: url("../images/193.png"), #0056A9 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  display: flex;
  flex-direction: column;
}

/* line 18, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.profile-data {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 25px;
  min-height: 50px;
  padding: 15px;
  width: 50vw;
  background-color: #f6f6f6;
  border-radius: 6px;
  box-shadow: 8px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

/* line 28, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.profile-data__item {
  margin-bottom: 15px;
}

/* line 30, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.profile-data__d {
  margin-bottom: 20px;
}

/* line 32, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.profile-data__a {
  text-align: right;
  margin-bottom: 30px;
}

/* line 35, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.profile-data__label {
  font-size: 14px;
  margin-bottom: 4px;
}

/* line 38, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.profile-data__form-error {
  font-size: 14px;
  color: #d52e2e;
}

/* line 41, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.profile-data__button {
  display: flex;
  flex-direction: column;
}

/* line 45, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 1.375rem 0.75rem;
  font-size: 1rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/* line 57, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.readonly {
  width: 100%;
  height: calc(1em + 0.75rem + 2px);
  padding: 1.375rem 0.75rem;
  font-size: 1rem;
  color: #495057;
  background-color: #d9d9d9;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/* line 68, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.modal {
  --bs-modal-width: 350px;
}

/* line 71, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.modal-content {
  background-color: #4a4a4a;
}

/* line 73, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.modal-content__body-text {
  color: #ececec;
  font-size: 22px;
  text-align: center;
}

@media (max-width: 991px) {
  /* line 79, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
  .space_background {
    min-height: 700px;
  }
}

@media (max-width: 767px) {
  /* line 83, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
  .space_background {
    min-height: 600px;
  }
  /* line 86, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
  .profile-data__label {
    font-size: 12px;
    margin-bottom: 4px;
  }
  /* line 89, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
  .profile-data__item {
    margin-bottom: 7px;
  }
  /* line 91, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
  .profile-data__a {
    font-size: 14px;
    margin-bottom: 15px;
  }
  /* line 94, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
  .profile-data input {
    font-size: 0.9rem;
  }
  /* line 96, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
  .readonly {
    padding: 1.1rem 0.75rem;
  }
  /* line 98, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
  .form-control {
    padding: 1.1rem 0.75rem;
  }
  /* line 101, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
  .errorlist li {
    font-size: 12px;
  }
  /* line 103, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
  .btn {
    --bs-btn-font-size: 0.6rem;
    padding: 3px 6px;
  }
}

@media (max-width: 587px) {
  /* line 108, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
  .space_background {
    min-height: 550px;
  }
  /* line 111, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
  .profile-data__label {
    font-size: 10px;
    margin-bottom: 4px;
  }
  /* line 114, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
  .profile-data__item {
    margin-bottom: 7px;
  }
  /* line 116, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
  .profile-data__a {
    font-size: 10px;
  }
  /* line 118, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
  .profile-data input {
    font-size: 0.7rem;
  }
  /* line 120, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
  .readonly {
    padding: 0.9rem 0.75rem;
  }
  /* line 122, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
  .form-control {
    padding: 0.9rem 0.75rem;
  }
  /* line 125, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
  .errorlist li {
    font-size: 10px;
  }
}

@media (max-width: 460px) {
  /* line 129, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
  .profile-data {
    width: 215px;
  }
}

/*# sourceMappingURL=profile.css.map */