@charset "UTF-8";
/* line 3, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change-done.sass */
body {
  background: black;
}

/* line 5, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change-done.sass */
.space_background {
  height: calc(90vh - 80px);
  min-height: 250px;
  background: url("../images/193.png"), #0056A9 50%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  display: flex;
}

/* line 12, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change-done.sass */
.messages-container {
  height: 100px;
  width: 34vw;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 15vh;
  padding: 15px;
  background-color: #d1e7dd;
  border-radius: 6px;
  box-shadow: 8px 5px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* line 25, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change-done.sass */
.messages-container__text {
  font-size: 24px;
}

/* line 27, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change-done.sass */
.messages-container__a {
  font-size: 16px;
}

@media (max-width: 1199px) {
  /* line 31, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change-done.sass */
  .messages-container {
    height: 80px;
  }
  /* line 33, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change-done.sass */
  .messages-container__text {
    font-size: 20px;
  }
  /* line 35, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change-done.sass */
  .messages-container__a {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  /* line 39, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change-done.sass */
  .messages-container {
    height: 70px;
    padding: 10px;
  }
  /* line 42, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change-done.sass */
  .messages-container__text {
    font-size: 18px;
  }
  /* line 44, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change-done.sass */
  .messages-container__a {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  /* line 48, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change-done.sass */
  .messages-container {
    height: 60px;
  }
  /* line 50, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change-done.sass */
  .messages-container__text {
    font-size: 14px;
  }
  /* line 52, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change-done.sass */
  .messages-container__a {
    font-size: 10px;
  }
}

@media (max-width: 575px) {
  /* line 56, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change-done.sass */
  .messages-container {
    height: 50px;
    width: 175px;
  }
  /* line 59, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change-done.sass */
  .messages-container__text {
    font-size: 12px;
  }
  /* line 61, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change-done.sass */
  .messages-container__a {
    font-size: 8px;
  }
}

/*# sourceMappingURL=password-change-done.css.map */