@charset "UTF-8";
/* line 9, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
body {
  background: black;
}

/* line 12, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
.space_background {
  min-height: 750px;
  background: url("../images/193.png"), #0056A9 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  display: flex;
  flex-direction: column;
}

/* line 21, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
.password-data {
  margin: 0 auto;
  margin-top: 15vh;
  width: 400px;
  background-color: #f6f6f6;
  border-radius: 6px;
  box-shadow: 8px 5px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

/* line 31, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
.password-data__header {
  padding: 25px;
  text-align: center;
  font-size: 28px;
  background-color: #dddddd;
  border-radius: 6px 6px 0px 0px;
}

/* line 37, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
.password-data__body {
  padding: 20px 15px 20px 15px;
}

/* line 39, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
.password-data__item {
  margin-bottom: 15px;
}

/* line 41, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
.password-data__label {
  font-size: 14px;
  margin-bottom: 8px;
}

/* line 44, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
.password-data__button {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

/* line 49, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
.form-control {
  display: block;
  width: 100%;
  height: calc(1em + 0.15rem + 2px);
  padding: 1.1rem 0.1rem;
  font-size: 1rem;
  line-height: 2.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

@media (max-width: 1199px) {
  /* line 63, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
  .password-data {
    width: 350px;
  }
  /* line 65, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
  .password-data__header {
    padding: 15px;
    font-size: 24px;
  }
  /* line 68, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
  .password-data__body {
    padding: 15px 10px 15px 10px;
  }
  /* line 70, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
  .password-data__item {
    margin-bottom: 10px;
  }
  /* line 72, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
  .password-data__label {
    font-size: 12px;
  }
  /* line 74, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
  .form-control {
    padding: 1rem 0.75rem;
  }
  /* line 76, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
  .btn {
    --bs-btn-font-size: 0.8rem;
  }
}

@media (max-width: 991px) {
  /* line 80, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
  .password-data {
    width: 300px;
  }
  /* line 82, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
  .password-data__header {
    padding: 15px;
    font-size: 20px;
  }
  /* line 85, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
  .password-data__body {
    padding: 10px 10px 10px 10px;
  }
  /* line 87, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
  .password-data__item {
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  /* line 91, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
  .password-data {
    width: 250px;
  }
}

@media (max-width: 587px) {
  /* line 95, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
  .password-data {
    width: 220px;
  }
  /* line 97, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
  .password-data__item {
    margin-bottom: 8px;
  }
  /* line 99, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
  .password-data__label {
    margin-bottom: 5px;
  }
}

@media (max-width: 460px) {
  /* line 103, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
  .password-data {
    width: 200px;
  }
  /* line 105, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
  .password-data__header {
    padding: 10px;
    font-size: 18px;
  }
  /* line 108, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
  .password-data__item {
    margin-bottom: 5px;
  }
  /* line 110, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/password-change.sass */
  .password-data__label {
    margin-bottom: 2px;
  }
}

/*# sourceMappingURL=password-change.css.map */