@charset "UTF-8";
/* line 9, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
body {
  background: black;
}

/* line 12, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.space_background {
  min-height: 750px;
  background: url("../images/193.png"), #0056A9 50%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  display: flex;
  flex-direction: column;
}

/* line 20, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.profile-data {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
  height: 610px;
  padding: 15px;
  width: 700px;
  background-color: #f6f6f6;
  border-radius: 6px;
  box-shadow: 8px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

/* line 31, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.profile-data__item {
  margin-bottom: 15px;
}

/* line 33, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.profile-data__d {
  margin-bottom: 20px;
}

/* line 35, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.profile-data__a {
  text-align: right;
  margin-bottom: 30px;
}

/* line 38, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.profile-data input:readonly {
  border-color: #a73131;
  background: #ffb11f;
  color: #09172b;
  box-shadow: 1px 1px 3px #000000 inset;
}

/* line 43, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.profile-data__label {
  font-size: 14px;
  margin-bottom: 4px;
}

/* line 46, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.profile-data__form {
  height: auto;
}

/* line 48, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.profile-data__button {
  display: flex;
  flex-direction: column;
}

/* line 52, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 1.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/* line 65, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.readonly {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 1.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2.5;
  color: #495057;
  background-color: #d9d9d9;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* line 83, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.modal {
  --bs-modal-width: 350px;
}

/* line 86, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.modal-content {
  background-color: #4a4a4a;
}

/* line 88, ../../Users/пользователь/PycharmProjects/myDjangoProjects/aquamarine-server/aquamarine/users/static/users/sass/profile.sass */
.modal-content__body-text {
  color: #ececec;
  font-size: 22px;
  text-align: center;
}

/*# sourceMappingURL=profile.css.map */