@charset "UTF-8";
/* line 4, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
body {
  background: black;
}

/* line 7, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
.space_background {
  height: 78vh;
  min-height: 300px;
  background: url("../images/193.png"), #0056A9 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  display: flex;
  flex-direction: column;
}

/* line 17, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
.password-change-request {
  margin: 0 auto;
  margin-top: 15vh;
  height: auto;
  width: auto;
  background-color: #f6f6f6;
  border-radius: 6px;
  box-shadow: 8px 5px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

/* line 27, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
.password-change-request__header {
  padding: 25px;
  text-align: center;
  font-size: 28px;
  background-color: #dddddd;
  border-radius: 6px 6px 0px 0px;
}

/* line 33, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
.password-change-request__body {
  padding: 20px 15px 20px 15px;
}

/* line 35, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
.password-change-request__email {
  font-size: 16px;
  margin-bottom: 20px;
}

/* line 39, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 1.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

@media (max-width: 1199px) {
  /* line 54, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
  .password-change-request__header {
    font-size: 24px;
    padding: 20px;
  }
}

@media (max-width: 767px) {
  /* line 60, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
  .password-change-request__header {
    font-size: 20px;
    padding: 15px;
  }
  /* line 63, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
  .form-control {
    font-size: 0.9rem;
  }
  /* line 65, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
  .py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  /* line 68, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
  .btn {
    padding: 3px 6px;
    --bs-btn-font-size: 0.9rem;
  }
}

@media (max-width: 587px) {
  /* line 74, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
  .password-change-request__header {
    font-size: 16px;
    padding: 12px;
  }
  /* line 77, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
  .password-change-request__body {
    padding: 15px 15px 15px 15px;
  }
  /* line 79, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
  .form-control {
    font-size: 0.8rem;
  }
  /* line 81, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
  .py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  /* line 84, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
  .btn {
    padding: 3px 6px;
    --bs-btn-font-size: 0.8rem;
  }
}

@media (max-width: 460px) {
  /* line 90, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
  .password-change-request__header {
    font-size: 14px;
    padding: 10px;
  }
  /* line 93, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
  .password-change-request__body {
    padding: 12px 12px 12px 12px;
  }
  /* line 95, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
  .form-control {
    font-size: 0.7rem;
  }
  /* line 97, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
  .py-4 {
    padding-top: 0.9rem !important;
    padding-bottom: 0.9rem !important;
  }
  /* line 100, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-reset.sass */
  .btn {
    padding: 3px 6px;
    --bs-btn-font-size: 0.7rem;
  }
}

/*# sourceMappingURL=user-password-reset.css.map */