@charset "UTF-8";
/* line 4, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
body {
  background: black;
}

/* line 7, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
.space_background {
  min-height: 750px;
  background: url("../images/193.png"), #0056A9 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  display: flex;
  flex-direction: column;
}

/* line 16, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
.password-set-new {
  margin: 0 auto;
  margin-top: 15vh;
  height: auto;
  width: 600px;
  background-color: #f6f6f6;
  border-radius: 6px;
  box-shadow: 8px 5px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

/* line 26, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
.password-set-new__header {
  padding: 20px;
  text-align: center;
  font-size: 24px;
  background-color: #dddddd;
  border-radius: 6px 6px 0px 0px;
}

/* line 32, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
.password-set-new__body {
  padding: 20px 15px 20px 15px;
}

/* line 34, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
.password-set-new__body label {
  margin-bottom: 5px;
}

/* line 37, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
ul {
  margin-bottom: 15px;
  font-size: 14px;
}

/* line 41, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
.errorlist {
  margin-bottom: 20px;
  color: #d52e2e;
}

/* line 45, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 1.375rem 0.75rem;
  font-size: 1rem;
  text-indent: 10px;
  line-height: 2.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  /* line 61, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  .password-set-new {
    width: 500px;
  }
}

@media (max-width: 991px) {
  /* line 65, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  .password-set-new {
    width: 400px;
  }
  /* line 67, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  .password-set-new__header {
    padding: 18px;
    font-size: 20px;
  }
  /* line 70, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  .password-set-new__body {
    padding: 20px 15px 20px 15px;
  }
  /* line 72, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  .password-set-new__body label {
    font-size: 14px;
  }
  /* line 74, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  ul {
    margin-bottom: 15px;
    font-size: 12px;
  }
  /* line 77, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  li {
    margin-bottom: 4px;
  }
  /* line 79, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  .errorlist {
    margin-bottom: 10px;
  }
  /* line 81, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  .form-control {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0;
    font-size: 1rem;
  }
  /* line 85, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  .btn {
    --bs-btn-font-size: 0.8rem;
  }
}

@media (max-width: 767px) {
  /* line 89, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  .password-set-new {
    width: 350px;
  }
  /* line 91, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  .password-set-new__header {
    padding: 15px;
    font-size: 18px;
  }
  /* line 94, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  .password-set-new__body {
    padding: 15px;
  }
  /* line 96, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  ul {
    margin-bottom: 5px;
  }
  /* line 98, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  .form-control {
    font-size: 0.8rem;
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  /* line 103, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  .password-set-new {
    width: 300px;
  }
  /* line 105, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  .password-set-new__header {
    padding: 12px;
    font-size: 16px;
  }
  /* line 108, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  .password-set-new__body {
    padding: 10px 15px 15px 15px;
  }
  /* line 110, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  .password-set-new__body label {
    font-size: 12px;
  }
  /* line 112, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  ul {
    font-size: 10px;
  }
  /* line 114, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  .form-control {
    font-size: 0.7rem;
  }
  /* line 116, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  .btn {
    --bs-btn-font-size: 0.7rem;
  }
}

@media (max-width: 460px) {
  /* line 120, ../../Users/Алексей/PycharmProjects/aquamarine-server/aquamarine/users/static/users/sass/user-password-set-new.sass */
  .password-set-new {
    width: 240px;
  }
}

/*# sourceMappingURL=user-password-set-new.css.map */