{% load static %}

<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Лучшая автомойка в Серове">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

        <!-- Icons from fontawesome -->
        <script src="https://kit.fontawesome.com/2eaffb5472.js" crossorigin="anonymous"></script>

        <!-- Base CSS -->
        <link rel="stylesheet" href="{% static 'carwash/css/base.css' %}" xmlns="http://www.w3.org/1999/html">

        <!-- Custom styles for this template -->
        {% block css %} {% endblock %}

        <title>
            {{title}}
        </title>
        {% block staff %} {% endblock %}
    </head>

    <body>
        <!-- Header -->
        <header class="header">
        <div class="container header__container">

            <!-- Логотип Aquamarine-->
            <a href="{% url 'carwash:home' %}"><img class="header__logo-box" src="{% static 'carwash/icons/logo.svg' %}"
                                                    alt="logo"></a>

            <!-- Блок контактов и навигационного меню -->
            <div class="header__contacts-nav">

                <!-- Блок навигации -->
                <div class="header__nav-box nav-menu">
                    <div class="nav-menu__left">
                        <ul class="nav-menu__list">
                            {% for m in menu %}
                            <li class="nav-menu__list-item text"><a class="nav-menu__text"
                                    href="{% if m.url_name %} {% url m.url_name %} {% else %} {{ m.anchor }} {% endif %}">{{m.title}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="nav-menu__right">
                        <ul class="nav-menu__list">
                        {% if user.is_authenticated %}
                            <div class="dropdown-center">
                              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i>
                              </a>

                              <ul class="dropdown-menu">
                                <li class="dropdown-item dropdown-item__email" style="hover:none">{{user}}</li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'users:profile' user.id %}">Профиль</a></li>
                                <li><a class="dropdown-item" href="{% url 'carwash:user_registrations' %}">Мои записи</a></li>
                                  {% if staff %}
                                    <li><a class="dropdown-item" href="{% url 'carwash:staff' days_delta=0 %}">Сотрудник</a></li>
                                  {% endif %}
                                  {% if user.is_superuser or user.is_staff %}
                                    <li><a class="dropdown-item" href="{% url 'admin:index' %}">Админ-панель</a></li>
                                  {% endif %}
                                  <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
                              </ul>
                            </div>
                        {% else %}
                            <li class="nav-menu__list-item text">
                                <a class="nav-menu__text" href="{% url 'users:login' %}">Войти <i class="fas fa-sign-in-alt"></i></a>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

        <!-- Контент страницы -->
        {% block content %} {% endblock %}

        <footer id="footer" class="footer">
        <div class="container footer__container">

            <!-- Логотип Aquamarine-->
            <a href="{% url 'carwash:home' %}"><img class="footer__logo-box" src="{% static 'carwash/icons/logoF.svg' %}" alt="logo"></a>

            <!-- Блок контактов -->
            <div class="footer__contacts-box contacts">
                <div class="contacts__item">
                    <div class="contacts__title footer__text">Адрес:</div>
                    <div class="contacts__text footer__text">Свердловская область
                        <br>г.Серов ул.Металистов 33
                    </div>
                </div>
                <div class="contacts__item">
                    <div class="contacts__title footer__text">Контакты:</div>
                    <div class="contacts__text footer__text">+79292225848</div>
                    <div class="contacts__text footer__text">+79043841020</div>
                </div>
                <div class="contacts__item">
                    <div class="contacts__title footer__text">Часы работы:</div>
                    <div class="contacts__text footer__text">Пн - Вс: 9:00 - 20:00</div>
                </div>
            </div>

        </div>
    </footer>


    </body>
</html>