{% extends 'carwash/base.html' %}

{% load static %}
{% load cache %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'carwash/css/index.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}



{% block content %}
    <main>
        <section class="first-section section">
            <div class="first-section__carousel">
            <div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="first-section__content first-section__content-title">
                    <h1>
                        Aquamarine - салон красоты вашего автомобиля
                    </h1>
                    <a href="{% url 'carwash:call_me' %}"><button class="btn btn-primary" type="button">Заказать звонок</button></a>
                    </div>
                    <div class="overlay"></div>
                    <img src="{% static 'carwash/images/close-up-car-care-process.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <div class="first-section__content">
                        <h1>Гарантия качества</h1>
                        <p>В нашей работе мы используем только
                            самые качественные материалы и химию от производителей из Европы и Америки</p>
                    </div>
                    <div class="overlay"></div>
                    <img src="{% static 'carwash/images/image22.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <div class="first-section__content">
                        <h1>Опытные мастера</h1>
                        <p>Специалисты автокомплекса 
                            имеют богатый опыт и знают все тонкости своего дела</p>
                    </div>
                    <div class="overlay"></div>
                    <img src="{% static 'carwash/images/image23.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Предыдущий</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Следующий</span>
                </button>
              </div>
            </div>
            <div id="services_price"></div>
        </section>        
        
        <!-- услуги и цены -->
        <section class="services-section section">
            <div class="services-section__image">
                <!-- Таблица цен и услуг -->
                <div class="services-section__price">
                    <table style="width:95%">
                        <tr>
                            <th class="services-section__th1">Услуги и цены</th>
                            <th>седан / хэтчбек</th>
                            <th>кроссовер</th>
                            <th>внедорожник</th>
                        </tr>
                        {% cache 18000 all_services %}
                        {% for s in services %}
                            <tr>
                                <td class="services-section__description"><span>{{s}}</span></td>
                                <td>{{s.price_standart}}</td>
                                <td>{{s.price_crossover}}</td>
                                <td>{{s.price_offroad}}</td>
                            </tr>
                        {% endfor %}
                        {% endcache %}
                    </table>
                </div>
                <a class="services-section__link-freepik"
                   href="https://ru.freepik.com/free-photo/beautiful-car-at-interior-clean-up-service_21139153.htm#page=4&query=%D0%B0%D0%B2%D1%82%D0%BE%D0%BC%D0%BE%D0%B9%D0%BA%D0%B0&position=1&from_view=search&track=sph"
                   target="_blank">www.Freepik.com
                </a>
            </div>
        </section>

        <!-- адрес (карта) -->
        <section class="third-section section">
          <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A24e52e0c61134cfd8361ca77f9d9d5a7b66c8020e0c5fbf87791d4cc74d3d08e&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
      </section>
    </main>
{% endblock %}
{% block script %}
    <script>
        base_url = `${window.location.hostname}:${window.location.port}`
        const websocket = new WebSocket(`ws://${base_url}`)
        websocket.onopen = function (event) {
            console.log('client says connection opened')
            websocket.send("Client sends Welcome")
        }
        websocket.onmessage = function (event) {
            console.log("client says server message received: ", event)
        }
    </script>
{% endblock script %}
