{% extends 'carwash/base.html' %}

{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'carwash/css/index.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <main>
        <section class="section-one section">
            <div class="section-one__content">
                <p class="section-one__title">
                    Aquamarine - салон красоты вашего
                    <br>автомобиля</p>
                <div class="section-one__image image">
                    <img src="{% static 'carwash/images/Auto image.png' %}" alt="">
                </div>
            </div>
        </section>
        <section class="section-excellence section">
            <div class="section-excellence__list">
                <div class="section-excellence__list-item"></div>
                <div class="section-excellence__list-item"></div>
                <div class="section-excellence__list-item"></div>
            </div>
        </section>
    </main>
{% endblock %}