{% extends 'carwash/base.html' %}

{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'carwash/css/registration-done.css' %}">
{% endblock %}


{% block content %}
    <div class="main-section">
        <div class="main-section__container">
            <div class="main-section__message">
                <p class="main-section__title">К сожалению, <br> время которые вы выбрали уже занято
                    <br><br>Попробуйте выбрать другое время</p>
            </div>
        </div>
    </div>
{% endblock %}