{% extends 'carwash/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'carwash/css/registration.css' %}">
    <script src="{% static 'carwash/js/script.js' %}"></script>
{% endblock %}

{% block content %}    
    <main>
        <div class="registration">
            <!-- <div class="registration__title">Запись авто на мойку</div> -->
            <form class="registration__form" method="post">
                {% csrf_token %}
                <div class="registration__without-button">                    
                    <div class="registration__box-services services">
                        <div class="services__border">
                        <h2 class="services__title">Выберите услуги:</h2>
                        {% if user.car_type == 'price_standart' %}
                            {% include 'carwash/serv-choice-price-standart.html' %}
                        {% elif user.car_type == 'price_crossover' %}
                            {% include 'carwash/serv-choice-price-crossover.html' %}
                        {% else %}
                            {% include 'carwash/serv-choice-price-offroad.html' %}
                        {% endif %}
                        </div>
                    </div>
                    <div class="registration__box-time-choice">
                        {% for dict in list_day_dictionaries %}
                            <div class="day">
                                <div class="day__border">
                                    <div class="day__date">{{ dict.date|date:"D d M Y" }}</div>
                                    {% for time, value in dict.items %}
                                        {% if not forloop.first %}
                                            {% if value %}
                                                <input id="{{time}}" type="radio" name="dis" disabled>
                                                <label for="{{time}}">{{ time }}</label>
                                            {% else %}
                                                <input id="{{dict.date}}-{{time}}" type="radio" onclick="CheckChoice()" name="choice_time" value="{{dict.date|date:'Y m d'}},{{time}}">
                                                <label for="{{dict.date}}-{{time}}">{{ time }}</label>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="registration__button">
                    <button id="registration" type="submit" disabled style="cursor:default">Записаться</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}