{% extends 'carwash/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'carwash/css/request-call-done.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block content %}
    <div class="space_background">
        <div class="messages-container">                
            <div class="messages-container__text">Спасибо за обращение.
                    <br>Администратор свяжется с вами в ближайшее время
            </div>
            <div class="messages-container__a"><a href="{% url 'carwash:registration' %}">вернуться назад</a></div>
        </div>
    </div>
{% endblock %}