{% extends 'carwash/base.html' %}

{% load static %}

{% block title %}
    Запись автомобиля на мойку
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'carwash/css/staff.css' %}">
    <script src="{% static 'carwash/js/script.js' %}"></script>
{% endblock %}

{% block content %}    
    <main>
        <div class="section-staff">
            <div class="workday-page">
                <div class="workday-page__button">
                    <a href="{% url 'carwash:staff' days_delta=0 %}"><button id="page1" type="submit" style="cursor:default" {% if days_delta == 0 %} disabled {% endif %}>Сегодня</button></a>
                </div>
                <div class="workday-page__button">
                    <a href="{% url 'carwash:staff' days_delta=1 %}"><button id="page2" type="submit" style="cursor:default" {% if days_delta == 1 %} disabled {% endif %}>Завтра</button></a>
                </div>
                <div class="workday-page__button">
                    <a href="{% url 'carwash:staff' days_delta=2 %}"><button id="page3" type="submit" style="cursor:default" {% if days_delta == 2 %} disabled {% endif %}>Послезавтра</button></a>
                </div>
            </div>
            <div class="data-box">
                {% for reg in list_workday %}
                    <div class="time-workday">
                        <div class="data-box__item time-workday__time {% if reg.free %} free time-workday__time-free {% else %} busy time-workday__time-busy {% endif %}">{{reg.time}}</div>
                        {% if reg.services %}
                            <div class="data-box__item busy client time-workday__client-busy">{{reg.registration.client}}</div>
                            <div class="data-box__item busy time-workday__services {% if reg.big %} time-workday__services_big {% else %} time-workday__services {% endif %}">{{reg.services}}</div>
                            <div class="time-workday__button">

                                <!-- Кнопка-триггер модального окна -->
                                <button type="button" class="time-workday__cancel-button" data-bs-toggle="modal" data-bs-target="#{{reg.registration_pk}}{{reg.time}}">
                                  Отменить</button>

                                <!-- Модальное окно -->
                                <div class="modal fade" id="{{reg.registration_pk}}{{reg.time}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <!-- <h1 class="modal-title fs-5" id="exampleModalLabel">Заголовок модального окна</h1> -->
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                      </div>
                                      <div class="modal-body">
                                        <p class="modal-content__body-text" id="exampleModalLabel">Подтвердите удаление записи</p>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                        <a href="{% url 'carwash:cancel' days_delta=days_delta registration_pk=reg.registration_pk registration_time=reg.time %}"><button type="button" class="btn btn-primary">Подтвердить</button></a>
                                      </div>
                                        </div>
                                  </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="data-box__item client {% if reg.free %} free time-workday__client-free {% else %} busy client time-workday__client-busy {% endif %}">{{reg.client}}</div>
                            <div class="data-box__item time-workday__services {% if reg.free %} free {% else %} busy {% endif %}"></div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}