{% extends 'carwash/base.html' %}

{% load static %}

{% block title %}
    Запись автомобиля на мойку
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'carwash/css/registration.css' %}">
    <script src="{% static 'carwash/js/script.js' %}"></script>
{% endblock %}

{% block content %}    
    <main>
        <div class="registration">
            {% for reg in reg_workday %}
                <p>{{reg}} {{reg.total_time}}</p>
            {% endfor %}
        </div>
    </main>
{% endblock %}