{% for dict in list_day_dictionaries %}
    <div class="day">
        <div class="day__content">
            <div class="day__date">{{ dict.date|date:"D d M Y" }}</div>
            {% for time, value in dict.items %}
                {% if not forloop.first %}
                    {% if value %}
                        <input id="{{time}}" type="radio" name="dis" disabled>
                        <label for="{{time}}">{{ time }}</label>
                    {% else %}
                        <input id="{{dict.date}}-{{time}}" type="radio" onclick="CheckChoice()" name="choice_time" value="{{dict.date|date:'Y m d'}},{{time}}">
                        <label for="{{dict.date}}-{{time}}">{{ time }}</label>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}
