{% extends 'carwash/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'carwash/css/user_registrations.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block title %}
    Aquamarine
{% endblock %}

{% block content %}
    <main>
        <div class="user_registrations">
<!--            <div class="workday-page">-->
<!--                <div class="workday-page__button">-->
<!--                    <a href="{% url 'carwash:staff' days_delta=0 %}"><button id="page1" type="submit" style="cursor:default" {% if days_delta == 0 %} disabled {% endif %}>Сегодня</button></a>-->
<!--                </div>-->
<!--                <div class="workday-page__button">-->
<!--                    <a href="{% url 'carwash:staff' days_delta=1 %}"><button id="page2" type="submit" style="cursor:default" {% if days_delta == 1 %} disabled {% endif %}>Завтра</button></a>-->
<!--                </div>-->
<!--                <div class="workday-page__button">-->
<!--                    <a href="{% url 'carwash:staff' days_delta=2 %}"><button id="page3" type="submit" style="cursor:default" {% if days_delta == 2 %} disabled {% endif %}>Послезавтра</button></a>-->
<!--                </div>-->
<!--            </div>-->
            <div class="data-box">
                {% for reg in user_registrations %}
                    <div class="data-box__registration registration">
                        <div class="registration__date registration__item">{{reg.date_time}}</div>
                        <div class="registration__time registration__item">{{reg.client}}</div>
                        <div class="registration__reg registration__item">{{reg.services}}</div>

<!--                        &lt;!&ndash; Кнопка-триггер модального окна &ndash;&gt;-->
<!--                        <button type="button" class="time-workday__cancel-button" data-bs-toggle="modal" data-bs-target="#{{reg.registration_pk}}{{reg.time}}">-->
<!--                              Отменить</button>-->

<!--                        &lt;!&ndash; Модальное окно &ndash;&gt;-->
<!--                        <div class="modal fade" id="{{reg.registration_pk}}{{reg.time}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--                                  <div class="modal-dialog">-->
<!--                                    <div class="modal-content">-->
<!--                                      <div class="modal-header">-->
<!--                                        &lt;!&ndash; <h1 class="modal-title fs-5" id="exampleModalLabel">Заголовок модального окна</h1> &ndash;&gt;-->
<!--                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>-->
<!--                                      </div>-->
<!--                                      <div class="modal-body">-->
<!--                                        <p class="modal-content__body-text" id="exampleModalLabel">Подтвердите удаление записи</p>-->
<!--                                      </div>-->
<!--                                      <div class="modal-footer">-->
<!--                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>-->
<!--                                        <a href="#"><button type="button" class="btn btn-primary">Подтвердить</button></a>-->
<!--                                      </div>-->
<!--                                        </div>-->
<!--                                  </div>-->
<!--                                </div>-->
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}