{% extends 'carwash/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'carwash/css/user_registrations.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block title %}
    Aquamarine
{% endblock %}

{% block content %}
    <main>
        <div class="space_background">
            <div class="user-registrations-box">
                {% for reg in user_registrations %}
                    <div class="registration">
                        <div class="registration__title">
                            <div class="registration__combo">
                                <div class="registration__item registration__date">{{reg.date_reg|date:'d.m.Y'}}
                                    <br>{{reg.time_reg}}
                                </div>
                                <div class="registration__item registration__total-time">
                                    Время работ: {{reg.total_time}} мин <br>
                                    Стоимость: {{reg.total_cost}} руб
                                </div>
                            </div>
                            <div class="registration__item registration__button-cancel">

                                <!-- Кнопка-триггер модального окна -->
                                <a class="registration__cancel-button" data-bs-toggle="modal" data-bs-target="#{{reg.pk}}">
                                    Отменить</a>

                                <!-- Модальное окно -->
                                <div class="modal fade" id="{{reg.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="modal-content__body-text" id="exampleModalLabel">Подтвердите удаление записи</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                                <a href="{% url 'carwash:user_reg_cancel' reg.pk %}"><button type="button" class="btn btn-primary">Подтвердить</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="registration__reg">{{reg.get_all_services}}</div>
                    </div>
                {% empty %}
                    <div class="data-box__registration registration">
                        <div class="registration__title">
                            <div class="registration__item registration__empty">Записей нет</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}