$color-main: #0056A9
$color-red: #C23349
$color-green: #5CAB5F
$color-dark-blue: #32449F
$color-menu-hover: #9ae7ff
$color-white: #ececec

    
body
    background: black

.space_background
    min-height: 750px
    background: url("../images/193.png"), $color-main 50% 
    background-size: 100% 100%
    background-repeat: no-repeat
    background-blend-mode: screen
    display: flex
    flex-direction: column

.password-data
    margin: 0 auto
    margin-top: 15vh
    // height: auto
    width: 400px
    background-color: rgb(246, 246, 246)
    border-radius: 6px
    box-shadow: 8px 5px 4px 0px rgba(0, 0, 0, 0.25)        
    display: flex
    flex-direction: column
    &__header
        padding: 25px
        text-align: center
        font-size: 28px
        background-color: #dddddd
        border-radius: 6px 6px 0px 0px
    &__body
        padding: 20px 15px 20px 15px
    &__item
        margin-bottom: 15px
    &__label
        font-size: 14px
        margin-bottom: 8px
    &__button
        display: flex
        flex-direction: column
        margin-top: 35px

.form-control
    display: block
    width: 100%
    height: calc(1em + 0.15rem + 2px)
    padding: 1.1rem 0.1rem
    font-size: 1rem
    line-height: 2.5
    color: #495057
    background-color: #fff
    background-clip: padding-box
    border: 1px solid #ced4da
    border-radius: 0.25rem

@media (max-width: 1199px)
    .password-data
        width: 350px
        &__header
            padding: 15px
            font-size: 24px
        &__body            
            padding: 15px 10px 15px 10px    
        &__item
            margin-bottom: 10px
        &__label
            font-size: 12px
    .form-control
        padding: 1rem 0.75rem
    .btn
        --bs-btn-font-size: 0.8rem

@media (max-width: 991px)
    .password-data
        width: 300px
        &__header
            padding: 15px
            font-size: 20px
        &__body            
            padding: 10px 10px 10px 10px    
        &__item
            margin-bottom: 8px

@media (max-width: 767px)
    .password-data
        width: 250px
    
@media (max-width: 587px)
    .password-data
        width: 220px
        &__item
            margin-bottom: 8px
        &__label
            margin-bottom: 5px
        
@media (max-width: 460px)
    .password-data
        width: 200px
        &__header
            padding: 10px
            font-size: 18px
        &__item
            margin-bottom: 5px
        &__label
            margin-bottom: 2px